
<span class="tags has-addons is-marginless">
  <span class="tag is-small is-dark">ID</span>
  <span class="tag is-small">{data.id || ''}</span>
</span>

<strong class="has-text-grey">{data.name || ''} </strong>

<p class="is-block">{@html address || ''}</p>
<br>
<span class="tags has-addons is-marginless">
  <span class="tag is-primary"><Icon icon="phone" /></span>
  <span class="tag">{data.phone || ''}</span>
</span>

<span class="tags has-addons is-marginless">
  <span class="tag is-primary"><Icon icon="at" /></span>
  <span class="tag" style="word-break: break-all;">{data.email || ''}</span>
</span>


{#if case_id}
<div class="column">
  <Message color="info">
  <p> This patient has already case history:
    <a class="" href="/#history/view/{case_id}">View case history</a>
  </p>
</Message>
</div>
{/if}

<script>
  import {Icon, Message} from '@kws3/helpers';

    export default {
    components:{
      Icon, Message
    },
    data(){
      return {
        data: {}
      }
    },
    computed:{
      address: ({data}) => {
        if(data){
          return [data.address]
          .filter(Boolean)
          .map(i => `<small>${i}</small>`)
          .join(', ');
        }
      },
    },
  }
</script>