<div class="page-content">

  <ViewScaffold {is_loading} {is_error} {error_message}>
    <div class="columns is-multiline">
      <div class="column is-12">
        <Panel title="Symptoms Writting Guideline">
          <Message color="info">
            {#each Object.entries(short_meanings) as [key, value]}
              {key} = {value}
            {/each}
          </Message>
        </Panel>
      </div>
    </div>

  </ViewScaffold>
</div>

<script type="text/javascript">

  import Model from '../../models/dashboard';
  import Access from '../../services/access';
  import { Icon, Panel, Notification, Loader, Message } from '@kws3/helpers';
  import ViewScaffold from '../helpers/ViewScaffold.html';

  export default {
    components: {
      ViewScaffold,Icon, Panel, Notification, Loader, Message,

    },
    data:function(){
      return {
        tracker: {
          saving: false,
          saved: false,
          error: false
        },
        is_loading: true,
        is_error: false,
        meta:{},
        error_message: '',
        short_meanings: {
          'Aggravation': 'agg.'
        }
      };
    },
    computed: {
      is_admin_user:({ $role }) => $role == 'A' || $role == 'U',

    },
    oncreate: function(){
      var self = this;
      self.set({is_loading: false})
    }
  }
</script>