<div class="page-content">
  <PageTitle page="{page}">
    <PageTabBar>
      <li class="is-active" >
        <a href="#settings">
          <Icon size="small" icon="cogs" />
          <span>Settings</span>
        </a>
      </li>
    </PageTabBar>
  </PageTitle>

  <ViewScaffold {is_loading} {is_error} {error_message}>

      {#if tracker.error}
        <Notification type="danger">
            There was an error updating settings
        </Notification>
      {/if}

    <form on:submit="save(event)">
      <Panel title="Update Settings">
        {#if !data.length}
        <div class="message is-primary">
          <div class="message-body">
            No settings to modify.
          </div>
        </div>
        {:else}
        <div class="columns is-multiline">

          {#each displayed_settings as setting}
            <div class="column is-6">
              <div class="field">
                <label class="label">{setting.display_name}</label>
                <p class="control">
                  <input class="input" type="text" bind:value="setting.value" />
                </p>
                <p class="help">{setting.description}</p>
              </div>
            </div>
          {/each}


          <div class="column">
            <div class="field">
              <label class="label">&nbsp;</label>
              <p class="control">
                <SubmitButton icon_size="small" classes="is-primary is-pulled-right" bind:tracker />
              </p>
            </div>
          </div>

        </div>
        {/if}
      </Panel>
    </form>
  </ViewScaffold>
</div>

<script>
import Model from '../../models/settings';
import { Message, Notification, Panel, Icon } from '@kws3/helpers';
import { SubmitButton } from '@kws3/buttons';
import PageTabBar from '../helpers/PageTabBar.html';

export default {
  components:{
    ViewScaffold: '../helpers/ViewScaffold.html',
    PageTitle: '../helpers/PageTitle.html',
    SubmitButton,
    Notification,
    Panel,
    Icon,
    PageTabBar,
    Message
  },
  data:function(){
    return {
      is_loading: true,
      is_error: false,
      error_message: '',
      data:[],
      page:{
        title: 'Settings',
        icon: 'cog',
        subtitle: 'Modify application and user specific settings'
      },
      tracker:{
        saving:false,
        saved:false,
        error:false
      }
    }
  },
  computed: {

  },
  oncreate(){
    var self = this;
    self.model = Model;
    self.load();
  },
  methods:{
    load(){
      var self = this;

      self.set({
        is_loading: true,
        is_error: false
      });

      self.model.getAll({limit:1000})
      .then(function(r){
        self.set({
          is_loading: false,
          meta: r._meta,
          data: r.response
        });
      })
      .catch(function(r){
        var user_message = '';
        if (typeof r != 'undefined' && typeof r.response != 'undefined' && typeof r.response.records != 'undefined'){
            user_message = r.response.records.userMessage;
        }
        self.set({
          is_error: true,
          is_loading: false,
          error_message: user_message
        });
      });
    },
    save(event){
      console.log(event)
    }
  }
};
</script>
