
<div class="page-content">

  <PageTitle page="{page}"></PageTitle>

  <ViewScaffold {is_loading} {is_error} {error_message}>

      <DataList
      {Model}
      {View}
      {entity_name}
      {route_prefix}
      {has_additional_buttons}
      {search_placeholder}
      bind:is_loading
      bind:is_error
      bind:error_message
      bind:data
      bind:meta
      {columns}
      {searchStringTransformer}
      {valueTransformers}
      {classTransformers}
      {styleTransformers}
      >

      <a  slot="additionalButtons" href="#patients/add" class="button is-success">
        <Icon size="small" icon="plus-circle" /><span>Add Patient</span>
      </a>
      </DataList>

  </ViewScaffold>

</div>

<script>

  import Model from '../../../models/patients';
  import { Icon } from '@kws3/helpers';

  export default {
    components:{
      ViewScaffold: '../../helpers/ViewScaffold.html',
      DataList: '../../helpers/DataList.html',
      PageTitle: '../../helpers/PageTitle.html',
      Icon,
    },
    data(){
      return {
        model_set: false,
        is_loading: true,
        is_error: false,
        error_message: '',
        meta:{},
        data:[],
        Model,
        View: '_COMPONENT_',
        entity_name: 'Patients',
        route_prefix: 'patients/',
        has_additional_buttons: true,
        columns:{
          'id':'ID',
          'name': 'Name',
          'age': 'Age',
          'phone': 'Phone',
          'address': 'Address',
          'gender': 'Gender',
          'link': ''
        },
        search_placeholder: 'Name',
        page:{
          title: 'Patients',
          icon: 'building-o',
          subtitle: 'Patients in this System'
        },
        searchStringTransformer: (q) => {
          var qparts = q.split('~'),
          query = [];

          if(qparts[0] != ''){
            query.push('name[lk]:'+qparts[0]);
          }

          qparts.shift();
          for(var i = 0; i < qparts.length; i++){
            var _q = qparts[i],
            qpp = _q.split(':');
            if(_q != '' && typeof qpp[1] != 'undefined' && qpp[1] != ''){
              query.push(qpp[0] + '[eq]:' + qpp[1]);
            }
          }

          return query.join(',');
        },
        valueTransformers:{
          gender(v, row){
            return row.gender == '' ? '' : row.gender == 'm' ? 'Male' : 'Female'
          },
          link(v, row) {
            return '<a href="#patients/view/'  + row.id + '"><span class="icon"><i class="fa fa-pencil"></i></span></a>';
          },
        },
        classTransformers:{
          link(){
            return 'is-icon';
          }
        },
        styleTransformers:{},
      }
    },
    computed: {}
  }
</script>