<Chart
  options={_options}
  series={_data}
  type='line'
  {height} {width}
></Chart>

<script>
  import Chart from './Chart.html';
  import {lineChartOptions, setsToSingleAxis, normalizeLineChartData} from '../../utils/chartUtils.js';

  export default {
    setup(comp){
      comp.noPreserveState = true;
    },
    components:{
      Chart
    },
    data(){
      return {
        data:[],
        xAxis:[],
        sets:[],
        formatter: undefined,
        tickAmount: 4,
        width:'100%',
        height:'auto',
        sparkline: false,
        opts:{}
      }
    },
    computed:{
      _data({sets, data}){
        return normalizeLineChartData(sets, data);
      },
      yAxis({sets, formatter, tickAmount}){
         return setsToSingleAxis(tickAmount, formatter);
      },
      _options({ xAxis, yAxis, sparkline, opts }){
        return Object.assign(lineChartOptions(xAxis, yAxis, sparkline), opts);
      }
    }
  }
</script>