<div class="page-content">

  <PageTitle page="{page}">
    <a class="button is-info is-pulled-right" href="#remedies">
      <Icon icon="long-arrow-left" size="small" />
      <span>Back to All Remedies</span>
    </a>
  </PageTitle>

  <ViewScaffold {is_loading} {is_error} {error_message}>

    {#if tracker.error}
    <Notification type="danger">
      {error_message}
    </Notification>
    {/if}

      <form on:submit="addNew(event)">
        <Panel title="Remedy Details">
          <div class="columns">
            <div class="column">

              <div class="field">
                <p class="control">
                  <label class="label">Name</label>
                  <input class="input is-medium" type="text" required bind:value="data.name" />
                </p>
              </div>
            </div>
          </div>

          <p class="title is-4">Symptoms</p>
          <div class="columns">
            <!-- <div class="column">
              <div class="field">
                <p class="control">
                  <label class="label">Head</label>
                  <textarea class="textarea" placeholder="Head.."></textarea>
                </p>
              </div>
              <div class="field">
                <p class="control">
                  <label class="label">Head</label>
                  <textarea class="textarea" placeholder="Head.."></textarea>
                </p>
              </div>
              <div class="field">
                <p class="control">
                  <label class="label">Head</label>
                  <textarea class="textarea" placeholder="Head.."></textarea>
                </p>
              </div>
              <div class="field">
                <p class="control">
                  <label class="label">Head</label>
                  <textarea class="textarea" placeholder="Head.."></textarea>
                </p>
              </div>
              <div class="field">
                <p class="control">
                  <label class="label">Head</label>
                  <textarea class="textarea" placeholder="Head.."></textarea>
                </p>
              </div>
              <div class="field">
                <p class="control">
                  <label class="label">Head</label>
                  <textarea class="textarea" placeholder="Head.."></textarea>
                </p>
              </div>
              <div class="field">
                <p class="control">
                  <label class="label">Head</label>
                  <textarea class="textarea" placeholder="Head.."></textarea>
                </p>
              </div>
              <div class="field">
                <p class="control">
                  <label class="label">Head</label>
                  <textarea class="textarea" placeholder="Head.."></textarea>
                </p>
              </div>
              <div class="field">
                <p class="control">
                  <label class="label">Head</label>
                  <textarea class="textarea" placeholder="Head.."></textarea>
                </p>
              </div>

              <div class="field">
                <p class="control">
                  <label class="label">Head</label>
                  <textarea class="textarea" placeholder="Head.."></textarea>
                </p>
              </div>
              <div class="field">
                <p class="control">
                  <label class="label">Head</label>
                  <textarea class="textarea" placeholder="Head.."></textarea>
                </p>
              </div>
              <div class="field">
                <p class="control">
                  <label class="label">Head</label>
                  <textarea class="textarea" placeholder="Head.."></textarea>
                </p>
              </div>
              <div class="field">
                <p class="control">
                  <label class="label">Head</label>
                  <textarea class="textarea" placeholder="Head.."></textarea>
                </p>
              </div>
              <div class="field">
                <p class="control">
                  <label class="label">Head</label>
                  <textarea class="textarea" placeholder="Head.."></textarea>
                </p>
              </div>
              <div class="field">
                <p class="control">
                  <label class="label">Head</label>
                  <textarea class="textarea" placeholder="Head.."></textarea>
                </p>
              </div>
              <div class="field">
                <p class="control">
                  <label class="label">Head</label>
                  <textarea class="textarea" placeholder="Head.."></textarea>
                </p>
              </div>
              <div class="field">
                <p class="control">
                  <label class="label">Head</label>
                  <textarea class="textarea" placeholder="Head.."></textarea>
                </p>
              </div>

              <div class="field">
                <p class="control">
                  <label class="label">Head</label>
                  <textarea class="textarea" placeholder="Head.."></textarea>
                </p>
              </div>
              <div class="field">
                <p class="control">
                  <label class="label">Head</label>
                  <textarea class="textarea" placeholder="Head.."></textarea>
                </p>
              </div>
              <div class="field">
                <p class="control">
                  <label class="label">Head</label>
                  <textarea class="textarea" placeholder="Head.."></textarea>
                </p>
              </div>
              <div class="field">
                <p class="control">
                  <label class="label">Head</label>
                  <textarea class="textarea" placeholder="Head.."></textarea>
                </p>
              </div>
              <div class="field">
                <p class="control">
                  <label class="label">Head</label>
                  <textarea class="textarea" placeholder="Head.."></textarea>
                </p>
              </div>
              <div class="field">
                <p class="control">
                  <label class="label">Head</label>
                  <textarea class="textarea" placeholder="Head.."></textarea>
                </p>
              </div>
              <div class="field">
                <p class="control">
                  <label class="label">Head</label>
                  <textarea class="textarea" placeholder="Head.."></textarea>
                </p>
              </div>
              <div class="field">
                <p class="control">
                  <label class="label">Head</label>
                  <textarea class="textarea" placeholder="Head.."></textarea>
                </p>
              </div>
            </div> -->
            <!-- <div class="column">
              <div class="field">
                <p class="control">
                  <label class="label">Mind</label>
                  <textarea class="textarea" placeholder="Mind.."></textarea>
                </p>
              </div>

              <div class="field">
                <p class="control">
                  <label class="label">Head</label>
                  <textarea class="textarea" placeholder="Head.."></textarea>
                </p>
              </div>
              <div class="field">
                <p class="control">
                  <label class="label">Head</label>
                  <textarea class="textarea" placeholder="Head.."></textarea>
                </p>
              </div>
              <div class="field">
                <p class="control">
                  <label class="label">Head</label>
                  <textarea class="textarea" placeholder="Head.."></textarea>
                </p>
              </div>
              <div class="field">
                <p class="control">
                  <label class="label">Head</label>
                  <textarea class="textarea" placeholder="Head.."></textarea>
                </p>
              </div>
              <div class="field">
                <p class="control">
                  <label class="label">Head</label>
                  <textarea class="textarea" placeholder="Head.."></textarea>
                </p>
              </div>
              <div class="field">
                <p class="control">
                  <label class="label">Head</label>
                  <textarea class="textarea" placeholder="Head.."></textarea>
                </p>
              </div>
              <div class="field">
                <p class="control">
                  <label class="label">Head</label>
                  <textarea class="textarea" placeholder="Head.."></textarea>
                </p>
              </div>
              <div class="field">
                <p class="control">
                  <label class="label">Head</label>
                  <textarea class="textarea" placeholder="Head.."></textarea>
                </p>
              </div>

              <div class="field">
                <p class="control">
                  <label class="label">Head</label>
                  <textarea class="textarea" placeholder="Head.."></textarea>
                </p>
              </div>
              <div class="field">
                <p class="control">
                  <label class="label">Head</label>
                  <textarea class="textarea" placeholder="Head.."></textarea>
                </p>
              </div>
              <div class="field">
                <p class="control">
                  <label class="label">Head</label>
                  <textarea class="textarea" placeholder="Head.."></textarea>
                </p>
              </div>
              <div class="field">
                <p class="control">
                  <label class="label">Head</label>
                  <textarea class="textarea" placeholder="Head.."></textarea>
                </p>
              </div>
              <div class="field">
                <p class="control">
                  <label class="label">Head</label>
                  <textarea class="textarea" placeholder="Head.."></textarea>
                </p>
              </div>
              <div class="field">
                <p class="control">
                  <label class="label">Head</label>
                  <textarea class="textarea" placeholder="Head.."></textarea>
                </p>
              </div>
              <div class="field">
                <p class="control">
                  <label class="label">Head</label>
                  <textarea class="textarea" placeholder="Head.."></textarea>
                </p>
              </div>
              <div class="field">
                <p class="control">
                  <label class="label">Head</label>
                  <textarea class="textarea" placeholder="Head.."></textarea>
                </p>
              </div>

              <div class="field">
                <p class="control">
                  <label class="label">Head</label>
                  <textarea class="textarea" placeholder="Head.."></textarea>
                </p>
              </div>
              <div class="field">
                <p class="control">
                  <label class="label">Head</label>
                  <textarea class="textarea" placeholder="Head.."></textarea>
                </p>
              </div>
              <div class="field">
                <p class="control">
                  <label class="label">Head</label>
                  <textarea class="textarea" placeholder="Head.."></textarea>
                </p>
              </div>
              <div class="field">
                <p class="control">
                  <label class="label">Head</label>
                  <textarea class="textarea" placeholder="Head.."></textarea>
                </p>
              </div>
              <div class="field">
                <p class="control">
                  <label class="label">Head</label>
                  <textarea class="textarea" placeholder="Head.."></textarea>
                </p>
              </div>
              <div class="field">
                <p class="control">
                  <label class="label">Head</label>
                  <textarea class="textarea" placeholder="Head.."></textarea>
                </p>
              </div>
              <div class="field">
                <p class="control">
                  <label class="label">Head</label>
                  <textarea class="textarea" placeholder="Head.."></textarea>
                </p>
              </div>
              <div class="field">
                <p class="control">
                  <label class="label">Head</label>
                  <textarea class="textarea" placeholder="Head.."></textarea>
                </p>
              </div>
              <div class="field">
                <p class="control">
                  <label class="label">&nbsp;</label>
                  <SubmitButton classes="is-primary is-pulled-right" icon="plus" icon_size="small" text="Add Remedy" bind:tracker />
                </p>
              </div>
            </div> -->
            <div class="column">
            {#each Object.entries(data) as [key, value], i }
                <div class="field">
                  <p class="control">
                    <label class="label" style="text-transform:capitalize;">{key}</label>
                    <textarea class="textarea" placeholder="{key}.." bind:value="data[key]"></textarea>
                  </p>
                </div>
              {/each}
            </div>
            <div class="column">
              {#each Object.entries(data2) as [key, value], i }
                  <div class="field">
                    <p class="control">
                      <label class="label" style="text-transform:capitalize;">{key}</label>
                      <textarea class="textarea" placeholder="{key}.." bind:value="data2[key]" ></textarea>
                    </p>
                </div>
              {/each}
              <div class="field">
                <p class="control">
                  <label class="label">&nbsp;</label>
                  <SubmitButton classes="is-primary is-pulled-right" icon="plus" icon_size="small" text="Add Remedy" bind:tracker />
                </p>
              </div>
            </div>

          </div>
        </Panel>
      </form>


  </ViewScaffold>
</div>

<script>
  import Model from '../../../models/remedies';
  import Router from '../../../services/router';
  import { Icon, Notification, Panel } from '@kws3/helpers';
  import { SubmitButton } from '@kws3/buttons';

  export default {
    components: {
      ViewScaffold: '../../helpers/ViewScaffold.html',
      PageTitle: '../../helpers/PageTitle.html',
      Panel, Icon, Notification, SubmitButton
    },

    data() {
      return {
        is_loading: false,
        is_error: false,
        error_message: '',
        data: {
          name: '',
          constitution: '',
          diathesis: '',
          miasm: '',
          temperament: '',
          thermals: '',
          attacks_and_time: '',
          side: '',
          temperature_and_weather: '',
          ailments_trom: '',
          sensations: '',
          mind: '',
          face: '',
          hair: '',
          skin: '',
          built: '',
          appetite: '',
          hunger: '',
          desires: '',
          aversions: '',
          intolerable: '',
          ameliarable: '',
          vission: '',
          hearing: '',
          smelling: '',
          taste: '',
          tongue: '',
          thirst: '',
          sleep: '',
          dreams: '',
          stools: '',
          urine: '',
          perspiration: '',
          nutrition: '',
        },
        data2: {
          anaemia: '',
          cyanosis: '',
          dehydration: '',
          jaundice: '',
          breathing: '',
          pulse: '',
          head: '',
          eyes: '',
          nose: '',
          ears: '',
          mouth: '',
          teeth: '',
          gums: '',
          throat: '',
          tonsills: '',
          neck_and_back: '',
          extrimities: '',
          bones: '',
          oesophagus: '',
          stomache: '',
          abdomen: '',
          liver: '',
          gallbladder: '',
          pancreas: '',
          spleen: '',
          intestine: '',
          duodenum: '',
          digestion: '',
          chest: '',
          heart: '',
          lungs: '',
          mso_mgo: '',
          fso_mgo: '',
          anus_and_rectum: ''
        },
        tracker: {
          saving: false,
          saved: false,
          error: false,
        },
        page: {
          title: 'Add Remedy',
          icon: 'vcard-o',
          icon_badge: 'plus'
        },
        valid:false
      }
    },
    computed: {
      user_role: ({ $user }) => $user && $user.role,
    },
    methods: {
      addNew(e) {
        e.preventDefault();

        var { data, data2, valid }  = this.get();

        data = {...data, ...data2}

        this.set({
          tracker: {
            saving: true,
            saved: false,
            error: false
          }
        });

        Model.create(data)
        .then( (r) => {
          this.set({
            tracker: {
              saving: false,
              saved: true,
              error: false
            },
            data: r.response,
          });

          setTimeout( () => {
            this.set({ tracker: { saved: false } });
            Router.navigate('remedies');
          }, 1500);

        })
        .catch( (r) => {
          if (r.response.records.errorCode == '406') {
            this.set({error_message: r.response.records.userMessage});
          }else{
            this.set({error_message: 'There was an error adding remedy'});
          }
          this.set({
            tracker: {
              saving: false,
              saved: false,
              error: true
            }
          });

          setTimeout( () => {
            this.set({ tracker: { error: false } });
          }, 3000);

        });
      }
    }
  }

</script>