
<div class="page-content">

  <PageTitle page="{page}"></PageTitle>

  <ViewScaffold {is_loading} {is_error} {error_message}>

      <DataList
      {Model}
      {View}
      {entity_name}
      {route_prefix}
      {has_additional_buttons}
      {search_placeholder}
      bind:is_loading
      bind:is_error
      bind:error_message
      bind:data
      bind:meta
      {columns}
      {searchStringTransformer}
      {valueTransformers}
      {classTransformers}
      {styleTransformers}
      >

      <a  slot="additionalButtons" href="#remedies/add" class="button is-success">
        <Icon size="small" icon="plus-circle" /><span>Add Remedy</span>
      </a>
      </DataList>

  </ViewScaffold>

</div>

<script>

  import Model from '../../../models/remedies';
  import { Icon } from '@kws3/helpers';
  import {hexToRGB, RGBToHSL} from '../../../utils/ColorConverter.js';
  import {findColorInvert} from '../../../utils/colorUtils.js';
  
  export default {
    components:{
      ViewScaffold: '../../helpers/ViewScaffold.html',
      DataList: '../../helpers/DataList.html',
      PageTitle: '../../helpers/PageTitle.html',
      Icon,
    },
    helpers: {
      hexToRGB, RGBToHSL, findColorInvert
    },
    data(){
      return {
        model_set: false,
        is_loading: true,
        is_error: false,
        error_message: '',
        meta:{},
        data:[],
        Model,
        View: '_COMPONENT_',
        entity_name: 'Remedies',
        route_prefix: 'remedies/',
        has_additional_buttons: true,
        columns:{
          // 'id':'ID',
          'name': 'Remedy Name',
          'total_data_size': 'Data Saved Percentage',
          'book_references': 'Referenced Books',
          'singleview': '',
          'link': ''
        },
        search_placeholder: 'Name',
        page:{
          title: 'Remedies',
          icon: 'building-o',
          subtitle: 'All Remedies in this System'
        },
        searchStringTransformer: (q) => {
          var qparts = q.split('~'),
          query = [];

          if(qparts[0] != ''){
            query.push('name[lk]:'+qparts[0]);
          }

          qparts.shift();
          for(var i = 0; i < qparts.length; i++){
            var _q = qparts[i],
            qpp = _q.split(':');
            if(_q != '' && typeof qpp[1] != 'undefined' && qpp[1] != ''){
              query.push(qpp[0] + '[eq]:' + qpp[1]);
            }
          }

          return query.join(',');
        },
        valueTransformers:{
          total_data_size(v, row){
            let percentage = parseFloat(row.total_data_size).toFixed(2) + ' %';
            let color = (value) => {
              value = parseFloat(value);
              let color_code = '', color_range = 0;
              
              if(value < 10) {color_code = '#e01409'; color_range = 10}
              else if(value < 20) {color_code = '#e06609'; color_range = 20}
              else if(value < 30) {color_code = '#e0a009'; color_range = 30} 
              else if(value < 40) {color_code = '#D6FA50'; color_range = 40}
              else if (value < 50) {color_code = '#CBD89D'; color_range = 50}  
              else if(value < 60) {color_code = '#04ba83'; color_range = 60} 
              else if(value < 70) {color_code = '#63d40d'; color_range = 70} 
              else if(value < 80) {color_code = '#07ba3d'; color_range = 80}
              
              let theme = RGBToHSL(hexToRGB(color_code)),
                  {h, s, l} = theme;
              return [
              `hsl(${h},${s}%,${l+(color_range-value)}%)`,
               color_code
              ]
              // if(value < 20) color_code = '#ff3860';
              // else if(value < 40) color_code = '#e68a00';
              // else if(value < 60) color_code = '#99cc00';
              // else if(value < 80) color_code = '#86b300';
              // else if (value < 90) color_code = '#4d6600';  
          
              // let theme = RGBToHSL(hexToRGB(color_code)),
              //     {h, s, l} = theme;
              // return color_code
            };
            
            return `<span class='tag is-medium' style='background-color: ${color(percentage)[0]}; color: ${findColorInvert(color(percentage)[1])};'>${percentage}</span>`;
          },
          singleview(v, row){
            return '<a href="#remedies/singleview/'  + row.id + '"><span class="icon"><i class="fa fa-eye"></i></span></a>' ;
          },
          link(v, row) {
            return '<a href="#remedies/view/'  + row.id + '"><span class="icon"><i class="fa fa-pencil"></i></span></a>';
          },
        },
        classTransformers:{
          name(){
            return 'title is-4'
          },
          singleview(){
            return 'is-icon';
          },
          link(){
            return 'is-icon';
          }
        },
        styleTransformers:{},
      }
    },
    computed: {},
  }
</script>