<div class="page-content">

  <PageTitle page="{page}">
    <a class="button is-info is-inverted is-pulled-right" href="#remedies">
      <Icon icon="long-arrow-left" size="small" />
      <span>Back to All Remedies</span>
    </a>
  </PageTitle>

  <ViewScaffold {is_loading} {is_error} {error_message}>

    {#if tracker.error}
      <Notification type="danger">{error_message}</Notification>
    {/if}

    {#if !is_loading}
      <form on:submit="fire('save', event)">
        <Panel title="Remedy Details" has_toolbar={true}>
          <div slot='toolbar'>
            <div class="field">
              <div class="control">
                <a href="#remedies/singleview/{entityId}" class="button is-success">
                  <Icon size="small" icon="eye" /><span>View on single page</span>
                </a>
              </div>
            </div>
          </div>

          <div class="columns">
            <div class="column">

              <div class="field">
                <p class="control">
                  <label class="label">Name</label>
                  <input class="input is-medium" type="text" required bind:value="data.name" />
                </p>
              </div>
            </div>
          </div>

          <p class="title is-4">Symptoms</p>
          <div class="columns">

            <div class="column">
              <div class="buttons">
                {#each Object.entries(data) as [key, value], i }
                  {#if key != 'id' && key != 'created' && key != 'name' && key != 'modified' && key != 'deleted' && key != 'treatments'}
                  <button type="button" class="button is-{ (key == selected_symptom) ? 'success' : data[key] ? '' : 'info' } " on:click="select_symptom(key)" style="text-transform: capitalize;">
                    {#if data[key]}
                      <span class="icon is-small"><i class="fa fa-check"></i></span>
                    {/if}
                    <span>{key}</span>
                  </button>
                  {/if}
                {/each}
              </div>

            </div>
            <div class="column">

              <div class="field">
                <span class="select is-fullwidth">
                  <select class="input" bind:value="selected_symptom" >
                    <option value="">Select Type</option>
                    {#each Object.entries(data) as [key, value], i}
                      {#if key != 'id' && key != 'created' && key != 'name' && key != 'modified' && key != 'deleted' && key != 'treatments'}
                        <option value="{key}">{key}</option>
                      {/if}
                    {/each}
                  </select>
                </span>
              </div>

              <div class="field">
                <p class="control">
                  <label class="label" style="text-transform: capitalize;">{selected_symptom}</label>
                  <textarea class="textarea" placeholder="{selected_symptom}..." bind:value="data[selected_symptom]" rows='10'></textarea>
                </p>
              </div>
              <div class="field">
                <p class="control">
                  <label class="label">&nbsp;</label>
                  <SubmitButton classes="is-primary is-pulled-right" icon="save" icon_size="small" text="Update Remedy" bind:tracker />
                </p>
              </div>
            </div>

          </div>

        </Panel>
      </form>
    {/if}

  </ViewScaffold>
</div>

<script>
  import Model from '../../../models/remedies';
  import Fields from '../../../models/remedy_data';
  import {Icon, Notification, Panel, Message} from '@kws3/helpers';
  import { SubmitButton } from '@kws3/buttons';

  export default {
    components: {
      ViewScaffold: '../../helpers/ViewScaffold.html',
      PageTitle: '../../helpers/PageTitle.html',
      Notification, SubmitButton,
      Icon, Panel,

    },
    data() {
      return {
        is_loading: true,
        is_error: false,
        error_message: '',
        selected_symptom: '',
        data: {},
        meta: {},
        tracker: {
          saving: false,
          saved: false,
          error: false,
        },
        page: {
          title: 'View Remedy',
          subtitle: 'Modify Remedy details',
          icon: 'building-o',
          icon_badge: 'pencil'
        },
      }
    },
    computed: {
      entityId: ({ $nav }) => $nav && $nav.params[0],
    },
    oncreate() {
      var { entityId } = this.get();

      this.on('state', ({ changed, current, previous }) => {
        if (changed['$nav']) {
          var { $nav } = current;
          if ($nav.activeView == '_COMPONENT_') {
            this.load();
          }
        }
      });

      this.on('save', (e) => {
        e.preventDefault();
        var {data} = this.get();

        if(data.name == '') return;

        this.set({data});

        this.save();
      });

      this.load();
    },
    methods: {
      select_symptom(key){
        this.set({ selected_symptom: key })
      },
      load() {
        var { entityId } = this.get();

        this.set({
          'is_loading': true,
          'is_error': false
        });
        // Fields.getByRemedy(entityId)

        Model.getOne(entityId)
        .then((r) => {

          this.set({
            'is_loading': false,
            'meta': r._meta,
            'data': r.response
          });

        })
        .catch((r) => {
          var user_message = '';
          if (typeof r != 'undefined' && typeof r.response != 'undefined' && typeof r.response.records != 'undefined') {
            user_message = r.response.records.userMessage;
          }
          this.set({
            'is_error': true,
            'is_loading': false,
            'error_message': user_message
          });
        });
      },
      save() {
        var {data, entityId, tracker} = this.get();

        this.set({
          tracker: {
            saving: true,
            saved: false,
            error: false
          }
        });

        Model.save(entityId, data)
        .then(r => {
          this.set({
            data: r.response,
            tracker: {
              saving: false,
              saved: true,
              error: false
            }
          });

          setTimeout(() => {
            tracker.saved = false;
            this.set({tracker});
          }, 1500);
        })
        .catch(r => {

          if(r.response.records.errorCode == '406') {
            this.set({error_message: 'The username you entered already exists, Please try another one'});
          } else {
            this.set({error_message: 'There was an error updating premise'});
          }

          this.set({
            tracker: {
              saving: false,
              saved: false,
              error: true
            }
          });

          setTimeout(() => {
            this.set({tracker: {error: false}});
          }, 1500);
        });
      }
    }
  }
</script>