<div class="page-content">
  <PageTitle page="{page}">
    <a class="button is-info is-pulled-right" href="#prescriptions">
      <Icon icon="long-arrow-left" size="small" />
      <span>Back to All Prescriptions</span>
    </a>
  </PageTitle>

  <ViewScaffold {is_loading} {is_error} {error_message}>

    {#if tracker.error}
    <Notification type="danger"> {error_message} </Notification>
    {/if}
    
    <Panel title="Prescription Details" has_toolbar={true} >
      <div slot='toolbar'>
       
        <a type="button" class="button is-gray" href="/#history/view/{entityId}" >
          <span class="icon is-small"><i class="fa fa-eye"></i></span>
          <span>
            View case history            
          </span>
        </a>
      </div>
      
      <div class="columns">
        <div class="column">
        {#if data.patient}
        <p class="title is-5">Patient Details</p>

        <PatientDetails data={data.patient} />
        {/if}
        </div>
        <div class="column">
          <div class="columns">

            <div class="column">        
              <!-- <p class="title is-5">Remedy History
                <span class="is-pulled-right">
                  <button class="button is-primary" type="button" on:click="set({add_remedy: !add_remedy})">{add_remedy ? 'Cancel' : 'Add More'}</button>
                </span>
              </p> -->
              {#if add_remedy}
                <AddTreatment
                  bind:remedy_names
                  bind:data
                  bind:selected_remedies
                  bind:tracker
                  bind:add_remedy
                  prescribe={true}
                  on:saveTreatment
               />
              {:else}
              <Timeline history="{prescribe_history}" on:editPrescription bind:add_remedy />
              {/if}
            </div>
          </div>
        
        </div>
      </div>
    </Panel>
    
  </ViewScaffold>
</div>

<script>
  import Model from '../../../models/histories';
  import Remedies from '../../../models/remedies';
  import TreatmentModel from '../../../models/treatments';
  import {Icon, Notification, Panel, Message} from '@kws3/helpers';
  import { SubmitButton, ConfirmButton } from '@kws3/buttons';
  import Router from '../../../services/router';
  import SearchableSelect from '@kws3/searchable-select';
  import PatientDetails from '../helpers/PatientDetails.html';
  import Timeline from '../helpers/Timeline.html';
  import niceDate from '../../../utils/niceDate.js';
  import AddTreatment from '../search/helpers/Treatment.html';
  
  export default {
    components: {
      ViewScaffold: '../../helpers/ViewScaffold.html',
      PageTitle: '../../helpers/PageTitle.html',
      Notification, Message, SearchableSelect, SubmitButton, ConfirmButton,
      Icon, Panel, PatientDetails, Timeline, AddTreatment,

    },
    helpers: {
      niceDate,
    },
    data() {
      return {
        is_loading: false,
        is_error: false,
        error_message: '',
        selected_symptom: '',
        remedies: {},
        data: {},
        meta: {},
        omitted_field: [ 'id', 'name', 'created', 'modified', 'deleted', 'patient', 'treatments'],
        add_remedy: false,
        tracker: {
          saving: false,
          saved: false,
          error: false,
        },
        page: {
          title: 'View Prescription',
          subtitle: 'Patients prescription details',
          icon: 'building-o',
          icon_badge: 'pencil'
        },
      }
    },
    computed: {
      entityId: ({ $nav }) => $nav && $nav.params[0],
      filterFields: ({remedies, omitted_field}) => {
        
        let last = ['built', 'constitution', 'diathesis', 'miasm', 'temperament', 'temperature_and_weather',
        'thermal_sensitivity', 'sensation', 'tendency_take_cold', 'desires', 'aversions', 'birth_history_milestones',
        'tissues', 'stages_and_states', 'attacks_and_side', 'ailments_from', 'affections', 'clinical', 'modalities',
        'mental_state_and_disorders', 'appearance_and_behavior', 'attention_and_concentration', 'expression',
        'consciousness', 'mood_and_affect', 'memory', 'speech', 'thoughts_and_ideas', 'perception', 'intelligence',
        'judgment', 'fear_and_live_alone', 'boring', 'peaceful', 'anger', 'hobby', 'habit', 'addiction', 'nutrition',
        'anaemia', 'cyanosis', 'dehydration', 'jaundice', 'pulse', 'breathing', 'peculiar_rare_symptoms'
        ];

        let filtered = [];
        if(remedies.length){
          for(let [key, value] of Object.entries(remedies[0])) {
            if( !last.includes(key) && !omitted_field.includes(key)){
              filtered.push(key)
            }
          }
          filtered.push(...last)
          return filtered
        }
      },
      prescribe_history: ({data}) => {
        if(data.treatments){
          let values = data.treatments;
          // this gives an object with dates as keys
          const groups = values.reduce((groups, remedy) => {
            const date = niceDate(remedy.created);
  
            if (!groups[date]) {
              groups[date] = [];
            }
            groups[date].push(remedy);
            return groups;
          }, {});

          // Edit: to add it in the array format instead
          const groupArrays = Object.keys(groups).map((date) => {
            return {
              date,
              remedies: groups[date]
            };
          });

          return groupArrays
        }
        return []
      },
      remedy_names: ({remedies}) => {
        let _names= [];
        
        for(let item in remedies){
          let single = remedies[item];
          _names.push(single.name);
        }
        return _names;
      },
    },
    oncreate() {
      var { entityId } = this.get();
      
      this.on('saveTreatment', treatments => {
        this.savePrescription(treatments);
      });
      
      this.on('editPrescription', remedies => {
        console.log(remedies)
        this.set({
          add_remedy: true,
          selected_remedies: remedies
        })
      })
      
      this.load();
      this.loadRemedies();
    },
    methods: {
      
      select_symptom(key){
        this.set({ selected_symptom: key })
      },
      load() {
        var { entityId } = this.get();

        this.set({
          is_loading: true,
          is_error: false
        });

        Model && Model.getOne(entityId)
        .then((r) => {
          
          this.set({
            is_loading: false,
            meta: r._meta,
            data: r.response
          });

        })
        .catch((r) => {
          var user_message = '';
          if (typeof r != 'undefined' && typeof r.response != 'undefined' && typeof r.response.records != 'undefined') {
            user_message = r.response.records.userMessage;
          }
          this.set({
            'is_error': true,
            'is_loading': false,
            'error_message': user_message
          });
        });
      },
      loadRemedies(){
        Remedies.getAll({limit:1000})
        .then( (r) => {
          this.set({ remedies: r.response })
        })
        .catch( (r) => {
          console.log(r)
        })
      },
      savePrescription(treatments) {
        let {data, entityId} = this.get();
        
        let structured = {
          prescribe: {
            id: entityId,
            patient: data.patient.id
          },
          data: treatments
        };
        
        this.set({
          tracker: {
            saving: true,
            saved: false,
            error: false
          }
        });
        
        TreatmentModel.createWithCase(structured)
        .then( (r) => {
          this.set({
            tracker: {
              saving: false,
              saved: true,
              error: false
            }
          });

          setTimeout( () => {
            this.set({ tracker: { saved: false }, add_remedy: false });
            this.load();
          }, 1500);
          
        })
        .catch( (r) => {
          console.log(r)
        })
      }
    }
  }
</script>