<div class="page-content">

  <PageTitle page="{page}">
    <!-- <a class="button is-info is-pulled-right" href="#remedies">
      <Icon icon="long-arrow-left" size="small" />
      <span>Back to All Remedies</span>
    </a> -->
  </PageTitle>

  <ViewScaffold {is_loading} {is_error} {error_message} class="has-fullpage-tabs has-multilevel-tabs">

    {#if tracker.error}
    <Notification type="danger">
      {error_message}
    </Notification>
    {/if}
    <LabsTabs {tabs} bind:active_tab />

    {#if active_tab == 'patient_cc'}
      <ViewScaffold {is_loading} {is_error} {error_message}>
        <PatientAdd bind:patient on:addPatient bind:data bind:p_data bind:searchable_symp/>

      </ViewScaffold>

    {/if}
    {#if active_tab == 'case_history'}
      <ViewScaffold {is_loading} {is_error} {error_message}>

        {#if !has_searched}
          <form on:submit="search(event)">
            <Panel title="Patient Symptoms" has_toolbar={true} >

              <div class="columns">
                <div class="column">
                  <Message title="Records" color='light'>
                    {#each Object.entries(data) as [key, value], i}
                      {#if !omitted_field.includes(key)}
                        <p><span class="has-text-weight-bold is-size-5">{key}</span>: {value}</p> <br>
                      {/if}
                    {/each}
                  </Message>
                </div>

                <div class="column">

                  <div class="field">
                    <span class="select is-fullwidth">
                      <select class="input" bind:value="selected_section" >
                        <option value="">Select Type</option>
                        {#each Object.entries(data) as [key, value], i}
                          {#if !omitted_field.includes(key)}
                            <option value="{key}">{key}</option>
                          {/if}
                        {/each}
                      </select>
                    </span>
                  </div>

                  <div class="field">
                    <p class="control">
                      <label class="label" style="text-transform: capitalize;">{selected_section}</label>
                      <textarea class="textarea" placeholder="{selected_section}..." bind:value="data[selected_section]" style="height: 15rem;"></textarea>
                    </p>
                  </div>

                </div>
                <div class="column">
                  <p class="title is-5">Suggestions</p>

                  <div class="field">
                    <p class="control">
                      <label class="label" style="text-transform: capitalize;">{selected_section} Symptoms in the System</label>
                        <SearchableSelect
                          data="{searchable_withkey[selected_section]}"
                          placeholder="Choose..."
                          bind:_name="selected_keyed_symp"
                          searchKey="name"
                          searchValue="id"
                        />
                    </p>
                  </div>

                  <div class="field">
                    <p class="control">
                      <label class="label" style="text-transform: capitalize;">All Symptoms in the System</label>
                        <SearchableSelect
                          data="{searchable_symp}"
                          placeholder="Choose..."
                          bind:_name="selected_all_symp"
                          searchKey="name"
                          searchValue="id"
                        />
                    </p>
                  </div>
                  <div class="field">
                    <p class="control">
                      <label class="label">&nbsp;</label>
                      <SubmitButton classes="is-primary is-medium is-pulled-right" icon="search" icon_size="small" text="Search" bind:tracker />
                    </p>
                  </div>
                </div>
              </div>
            </Panel>
          </form>
          <br>
        {/if}

        {#if has_searched}
          <div class="columns">
            <div class="column">
              <RemedyFound
                bind:data
                bind:tracker
                bind:remedy_found
                {field_name}
                {result_symptoms}
                on:back="back()"
                on:showSymptoms
                on:saveHistory="saveHistory()"
              />
            </div>
            <div class="column">
              <Treatment
                bind:remedy_names
                bind:data
                bind:tracker
                bind:remedy_found
                {result_symptoms}
                on:saveTreatment
              />
            </div>
          </div>
          <br>

        {/if}

        {#if has_searched && !data.patient}
          <div class="columns is-centered">
            <label class="subtitle is-size-5 has-text-warning is-centered"> Selection patient is mendatory for saving Case History or Treatment ! </label>
          </div>
        {/if}

        {#if !has_searched}
          <Sections
            bind:data
            bind:remedies
            bind:filterFields
            bind:selected_section
            on:reset="reset(event)"
          />

        {/if}


      </ViewScaffold>
    {/if}


  </ViewScaffold>
</div>

<script>
  import Model from '../../../models/histories';
  import Remedies from '../../../models/remedies';
  import TreatmentModel from '../../../models/treatments';

  import Router from '../../../services/router';
  import { Icon, Notification, Panel, Message } from '@kws3/helpers';
  import { SubmitButton, ConfirmButton } from '@kws3/buttons';
  import SearchResult from './helpers/SearchResult.html';
  import SearchableSelect from '@kws3/searchable-select';
  import PatientAdd from './helpers/PatientAdd.html';
  import RemedyFound from './helpers/RemedyFound.html';
  import Treatment from './helpers/Treatment.html';
  import Sections from './helpers/Sections.html';
  import LabsTabs from '../helpers/Tabs.html';

  export default {
    components: {
      ViewScaffold: '../../helpers/ViewScaffold.html',
      PageTitle: '../../helpers/PageTitle.html',
      Panel, Notification, SubmitButton, Treatment, Message, Sections,
      SearchableSelect, ConfirmButton, PatientAdd, RemedyFound, LabsTabs
    },

    data() {
      return {
        is_loading: false,
        is_error: false,
        error_message: '',
        is_active_case_modal: false,
        selected_section: '',
        selected_all_symp: '',
        selected_keyed_symp: '',
        active_tab: 'patient_cc',
        result_symptoms: '',
        remedies: {},
        data: {},
        remedy_found: {},
        remedy_names: [],
        omitted_field: [ 'id', 'name', 'created', 'modified', 'deleted', 'patient', 'treatments', 'book_references', 'total_data_size'],
        patient: {
          name: '',
          age: '',
          gender: '',
          phone: '',
          address: '',
          patient_type: 'none'
        },
        tracker: {
          saving: false,
          saved: false,
          error: false,
        },
        page: {
          title: 'Search Remedy',
          icon: 'search',
          icon_badge: 'plus'
        },
        tabs: [
          {icon: 'info-circle', name: 'patient_cc', title: 'Patient/CC'},
          {icon: 'pencil', name: 'case_history', title: 'Case History'},
        ],
        valid:false
      }
    },
    computed: {
      has_searched: ({remedy_found}) => Object.keys(remedy_found).length,
      user_role: ({ $user }) => $user && $user.role,
      filterFields: ({remedies, omitted_field}) => {

        let last = ['built', 'constitution', 'diathesis', 'miasm', 'temperament', 'temperature_and_weather',
         'thermal_sensitivity', 'sensation', 'tendency_take_cold', 'desires', 'aversions', 'birth_history_milestones',
         'tissues', 'stages_and_states', 'attacks_and_side', 'ailments_from', 'affections', 'clinical', 'modalities',
         'mental_state_and_disorders', 'appearance_and_behavior', 'attention_and_concentration', 'expression',
         'consciousness', 'mood_and_affect', 'memory', 'speech', 'thoughts_and_ideas', 'perception', 'intelligence',
         'judgment', 'fear_and_live_alone', 'boring', 'peaceful', 'anger', 'hobby', 'habit', 'addiction', 'nutrition',
         'anaemia', 'cyanosis', 'dehydration', 'jaundice', 'pulse', 'breathing', 'peculiar_rare_symptoms'
        ];

        let filtered = [];
        if(remedies.length){
          for(let [key, value] of Object.entries(remedies[0])) {
            if( !last.includes(key) && !omitted_field.includes(key)){
              filtered.push(key)
            }
          }
          filtered.push(...last)
          return filtered
        }
      },
      remedy_names: ({remedies}) => {
        let _names= [];

        for(let item in remedies){
          let single = remedies[item];
          _names.push(single.name);
        }
        return _names;
      },
      loadSymptoms: ({remedies}) => {
        let symptoms = {}, _symp = [];
        // let _symp = []

        for(let i in remedies){
          Object.entries(remedies[i]).forEach(([key, value]) => {
          _symp[key] = []
          })
          break;
        }
        for(let item in remedies){
          let single = remedies[item];

          Object.entries(single).forEach(([key, value]) => {
            if(value){
              if(typeof value == 'string'){
                _symp[key].push(value.split(','))
              }
              symptoms[key] = (symptoms[key] ? symptoms[key] : '') + ', ' + value;
            }
          })
        }
        return _symp
      },
      searchable_withkey({loadSymptoms}){
        let final = [], total = 0;

        Object.entries(loadSymptoms).forEach(([key, value]) => {
          let one = loadSymptoms[key];
            final[key] = [];
            for(let i in one){
              if(Array.isArray(one[i])){
                for(let ind in one[i]){
                  final[key].push({ id: total++, name: one[i][ind].trim() })
                }
              }
            }
          })
        return final
      },
      searchable_symp({loadSymptoms, omitted_field}){
        let final = [], total = 0;
        for(let item in loadSymptoms){
          if(!omitted_field.includes(item)){
            let one = loadSymptoms[item];

              for(let i in one){
                if(Array.isArray(one[i])){
                  for(let ind in one[i]){
                    let value = one[i][ind] + ' -> ' + item;
                    final.push({ id: total++, name: value.trim() })
                  }
                }
              }
            }
          }
        return final
      }
    },
    oncreate(){

      this.on('state', ({ changed, current, previous }) => {
        let {data, selected_section, selected_all_symp} = this.get()

        if(current.selected_keyed_symp != previous.selected_keyed_symp){
          // got it selected symptom
          data[selected_section] =  data[selected_section] ? data[selected_section]  + ', ' + current.selected_keyed_symp : current.selected_keyed_symp;
          this.set({data})
        }

        if(current.selected_all_symp != previous.selected_all_symp){
          let section = selected_all_symp.split(' -> ');
          let field = section[1], value = section[0];

          data[field] = data[field] ? data[field]  + ', ' + value : value;
          this.set({data, selected_section: field, selected_keyed_symp: value})
        }

      });

      this.on('saveTreatment', treatments => {
        this.saveTreatment(treatments)
      });

      this.on('addPatient', patient => {
        let {data} = this.get();
        data.patient = patient;
        this.set({data});
      });

      this.on('showSymptoms', value => {
        this.showSymptoms(value);
      })

      this.loadRemedies();
    },
    methods: {
      loadRemedies(){
        Remedies.getAll({limit:1000})
        .then( (r) => {
          this.set({ remedies: r.response })
        })
        .catch( (r) => {
          console.log(r)
        })
      },
      reset(comp){
        comp && comp.doing()
        this.set({ data: {}, p_data: {} })
        this.set({ remedy_found: {} })
        comp && comp.done();
      },
      back(){
        this.set({ remedy_found: {} })
        this.set({ result_symptoms: {} })

      },
      select_symptom(key){
        this.set({ selected_section: key })
      },
      showSymptoms(value){
        this.set({ result_symptoms: value.symptoms, field_name: value.field })
      },
      saveHistory(){
        let {data} = this.get();

        this.set({
          tracker: {
            saving: true,
            saved: false,
            error: false
          }
        });

        Model.create(data)
        .then( (r) => {
          this.set({
            tracker: {
              saving: false,
              saved: true,
              error: false
            },
            data: r.response,
          });

          setTimeout( () => {
            this.set({ tracker: { saved: false } });
            this.reset()
          }, 1500);

        })
        .catch( (r) => {
          if (r.response.records.errorCode == '406') {
            this.set({error_message: r.response.records.userMessage});
          }else{
            this.set({error_message: 'There was an error adding history'});
          }
          this.set({
            tracker: {
              saving: false,
              saved: false,
              error: true
            }
          });

          setTimeout( () => {
            this.set({ tracker: { error: false } });
          }, 3000);

        });
      },
      saveTreatment(treatments){
        let {data} = this.get();
        this.set({
          tracker: {
            saving: true,
            saved: false,
            error: false
          }
        });

        TreatmentModel.createWithCase({data: treatments, case: data})
        .then( (r) => {
          this.set({
            tracker: {
              saving: false,
              saved: true,
              error: false
            }
          });

          setTimeout( () => {
            this.set({ tracker: { saved: false } });
            this.reset()
          }, 1500);

        })
        .catch( (r) => {
          console.log(r)
        })


      },
      search(e) {
        e.preventDefault();

        var { data, valid, remedies }  = this.get();
        let _payload = [];
        let matched_remedies = {};

        console.log(data)

        this.set({
          tracker: {
            saving: true,
            saved: false,
            error: false
          }
        });


        //reducing null fields from payload
        for(let [key, value] of Object.entries(data)) {
          if(value && key != 'patient'){
            _payload[key] = value.split(',')
          }
        }
        // console.log(_payload)

        for(let [key, values] of Object.entries(_payload)) { // values are array of symptoms
          values.forEach( (value) => {
            remedies.forEach( (remedy) => {
              if(remedy[key] != '' && remedy[key] ){
                remedy[key].split(',').forEach( (symptom) =>{ // matching with each symptoms for remedy

                  if(symptom.trim() === value.trim() && value.trim() != ''){
                    if( matched_remedies.hasOwnProperty(remedy['name']) ){
                      matched_remedies[remedy['name']].mark++;
                      matched_remedies[remedy['name']].field += ', ' + key;
                      matched_remedies[remedy['name']].symptoms += ', ' + value.trim();

                    }else{
                      matched_remedies[remedy['name']] = {};
                      matched_remedies[remedy['name']].field = key;
                      matched_remedies[remedy['name']].mark = 1;
                      matched_remedies[remedy['name']].symptoms = value.trim();

                    }
                  }
                })
              }

            })
          })
        }
        this.set({ remedy_found: matched_remedies})

        setTimeout( () => {
          this.set({ tracker: { saved: false } });
          Router.navigate('search');
        }, 1500);

      },

    }
  }

</script>