<div class="page-content">

  <PageTitle page="{page}">
    <!-- <a class="button is-info is-pulled-right" href="#remedies">
      <Icon icon="long-arrow-left" size="small" />
      <span>Back to All Remedies</span>
    </a> -->
  </PageTitle>

  <ViewScaffold {is_loading} {is_error} {error_message}>

    {#if tracker.error}
    <Notification type="danger">
      {error_message}
    </Notification>
    {/if}

        <Panel title="Symptoms Name" has_toolbar={true} >
          <div slot='toolbar'>
            <button class="button is-danger" on:click="reset()" >Reset</button>
          </div>

          <div class="columns">
            <div class="column">

              <!-- <div class="field">
                <p class="control">
                  <label class="label">Name</label>
                  <input class="input" type="text" required bind:value="data.name" />
                </p>
              </div> -->
            </div>
          </div>

          <div class="columns">
            <div class="column">
              <div class="buttons">
              {#each Object.entries(buttons) as [key, value], i }
                <button class="button is-medium is-{ (data[key] != '') || key == selected_symptom ? '' : 'info'}" on:click="select_symptom(key)" style="text-transform: capitalize;">
                  {#if data[key] != ''}
                    <span class="icon is-small"><i class="fa fa-check"></i></span>
                  {/if}
                  <span>{key}</span>
                </button>
              {/each}
              </div>
            </div>
          </div>

          <!-- <div class="columns">
            <div class="column">
              {#each Object.entries(data) as [key, value], i }
                  <div class="field">
                    <p class="control">
                      <label class="label" style="text-transform:capitalize;">{key}</label>
                      <textarea class="textarea" placeholder="{key}.." bind:value="data[key]"></textarea>
                    </p>
                  </div>
                {/each}
              </div>
              <div class="column">
                {#each Object.entries(data2) as [key, value], i }
                    <div class="field">
                      <p class="control">
                        <label class="label" style="text-transform:capitalize;">{key}</label>
                        <textarea class="textarea" placeholder="{key}.." bind:value="data2[key]" ></textarea>
                      </p>
                  </div>
                {/each}
                <div class="field">
                  <p class="control">
                    <label class="label">&nbsp;</label>
                    <SubmitButton classes="is-primary is-pulled-right" icon="plus" icon_size="small" text="Add Remedy" bind:tracker />
                  </p>
                </div>
              </div>
          </div> -->
        </Panel>


      <br>
      <form on:submit="search(event)">
        <Panel title="Symptoms Details" has_toolbar={true} >

          <div class="columns is-centered">
            <div class="column is-8">
              <div class="field">
                <span class="select is-fullwidth">
                  <select class="input" bind:value="selected_symptom" >
                    <option value="">Select Type</option>
                    {#each Object.entries(data) as [key, value], i}
                      {#if key != 'id' && key != 'created' && key != 'name' && key != 'modified' && key != 'deleted' && key != 'treatments'}
                        <option value="{key}">{key}</option>
                      {/if}
                    {/each}
                  </select>
                </span>
              </div>

              <div class="field">
                <p class="control">
                  <label class="label" style="text-transform: capitalize;">{selected_symptom}</label>
                  <textarea class="textarea" placeholder="{selected_symptom}..." bind:value="data[selected_symptom]"></textarea>
                </p>
              </div>

              <div class="field">
                <p class="control">
                  <label class="label">&nbsp;</label>
                  <SubmitButton classes="is-primary is-pulled-right" icon="search" icon_size="small" text="Search" bind:tracker />
                </p>
              </div>
            </div>
          </div>
        </Panel>
      </form>
      <!-- <CaseHistory
        bind:is_active="is_active_case_modal"
        on:close
      /> -->

  </ViewScaffold>
</div>

<script>
  import Model from '../../../models/histories';
  import Router from '../../../services/router';
  import { Icon, Notification, Panel } from '@kws3/helpers';
  import { SubmitButton } from '@kws3/buttons';
  import CaseHistory from './helpers/CaseHistory.html';

  export default {
    components: {
      ViewScaffold: '../../helpers/ViewScaffold.html',
      PageTitle: '../../helpers/PageTitle.html',
      Panel, Icon, Notification, SubmitButton, CaseHistory
    },

    data() {
      return {
        is_loading: false,
        is_error: false,
        error_message: '',
        is_active_case_modal: false,
        selected_symptom: '',
        data: {
          face: '',
          mind: '',
          built: '',
          hair: '',
          tongue: '',
          pulse: '',
          breathing: '',
          anaemia: '',
          cyanosis: '',
          dehydration: '',
          dehydration: '',
          jaundice: '',
          skin: '',
          sensation: '',
          temperature_and_weather: '',
          thermals: '',
          susceptibility: '',
          bathing: '',
          vision: '',
          hearing: '',
          smelling: '',
          taste: '',
          thirst: '',
          appetite: '',
          hunger: '',
          desires: '',
          aversions: '',
          intolerable: '',
          ameliorable: '',
          indigestion: '',
          eructation: '',
          nausia: '',
          vomiting: '',
          sweating_perspiration: '',
          sleep: '',

          dreams: '',
          discharges: '',
          stool: '',
          urine: '',
          menstruation: '',
          leucorrhoea: '',
          habit: '',
          hobby: '',
          addicted: '',
          birth_history: '',
          milestones: '',
          mood_and_affect: '',
          speech: '',
          thought: '',
          attention_and_concentration: '',
          consciousness: '',
          appearance_and_behavior: '',
          memory: '',
          intelligency: '',
          judgement: '',
          insight: '',
          temperament: '',
          alone_and_darkness: '',
          frightness: '',
          constitution: '',
          diathesis: '',
          miasm: '',
          ailments_from: '',
          attacks_and_time: '',
          side: '',
          past_medical_history: '',
          family_medical_history: '',
          rare_peculiar_symptoms: ''
        },
        tracker: {
          saving: false,
          saved: false,
          error: false,
        },
        page: {
          title: 'Search Remedy',
          icon: 'vcard-o',
          icon_badge: 'plus'
        },
        valid:false
      }
    },
    computed: {
      user_role: ({ $user }) => $user && $user.role,
      buttons: ({ data, data2}) => {
        let _buttons = {...data, ...data2}
        return _buttons
      }
    },
    oncreate(){
      this.on('close', (flag) => {
        this.set({
          is_active_case_modal: false,
        });

      });
    },
    methods: {
      reset(){
        this.set({ data: this.getDataObj() })
      },
      select_symptom(key){
        this.set({ selected_symptom: key })
      },
      search(e) {
        e.preventDefault();

        var { data, valid }  = this.get();

        this.set({
          tracker: {
            saving: true,
            saved: false,
            error: false
          }
        });

        Model.create(data)
        .then( (r) => {
          this.set({
            tracker: {
              saving: false,
              saved: true,
              error: false
            },
            data: r.response,
          });

          setTimeout( () => {
            this.set({ tracker: { saved: false } });
            Router.navigate('search');
          }, 1500);

        })
        .catch( (r) => {

          if (r.response.records.errorCode == '406') {
            this.set({error_message: r.response.records.userMessage});
          }else{
            this.set({error_message: 'There was an error adding remedy'});
          }
          this.set({
            tracker: {
              saving: false,
              saved: false,
              error: true
            }
          });

          setTimeout( () => {
            this.set({ tracker: { error: false } });
          }, 2000);

        });

      },
      getDataObj(){
        return {
          face: '',
          mind: '',
          built: '',
          hair: '',
          tongue: '',
          pulse: '',
          breathing: '',
          anaemia: '',
          cyanosis: '',
          dehydration: '',
          dehydration: '',
          jaundice: '',
          skin: '',
          sensation: '',
          temperature_and_weather: '',
          thermals: '',
          susceptibility: '',
          bathing: '',
          vision: '',
          hearing: '',
          smelling: '',
          taste: '',
          thirst: '',
          appetite: '',
          hunger: '',
          desires: '',
          aversions: '',
          intolerable: '',
          ameliorable: '',
          indigestion: '',
          eructation: '',
          nausia: '',
          vomiting: '',
          sweating_perspiration: '',
          sleep: '',

          dreams: '',
          discharges: '',
          stool: '',
          urine: '',
          menstruation: '',
          leucorrhoea: '',
          habit: '',
          hobby: '',
          addicted: '',
          birth_history: '',
          milestones: '',
          mood_and_affect: '',
          speech: '',
          thought: '',
          attention_and_concentration: '',
          consciousness: '',
          appearance_and_behavior: '',
          memory: '',
          intelligency: '',
          judgement: '',
          insight: '',
          temperament: '',
          alone_and_darkness: '',
          frightness: '',
          constitution: '',
          diathesis: '',
          miasm: '',
          ailments_from: '',
          attacks_and_time: '',
          side: '',
          past_medical_history: '',
          family_medical_history: '',
          rare_peculiar_symptoms: ''
        }
      }
    }
  }

</script>