<div class="page-content">

  <PageTitle page="{page}">
    <!-- <a class="button is-info is-pulled-right" href="#remedies">
      <Icon icon="long-arrow-left" size="small" />
      <span>Back to All Remedies</span>
    </a> -->
  </PageTitle>

  <ViewScaffold {is_loading} {is_error} {error_message}>

    {#if tracker.error}
    <Notification type="danger">
      {error_message}
    </Notification>
    {/if}


  <form on:submit="search(event)">
    <Panel title="" has_toolbar={true} >

      <div class="columns">
        <div class="column">
        <p class="title is-5">Patient Symptoms</p>

          <div class="field">
            <span class="select is-fullwidth">
              <select class="input" bind:value="selected_symptom" >
                <option value="">Select Type</option>
                {#each Object.entries(data) as [key, value], i}
                  {#if key != 'id' && key != 'created' && key != 'name' && key != 'modified' && key != 'deleted' && key != 'treatments'}
                    <option value="{key}">{key}</option>
                  {/if}
                {/each}
              </select>
            </span>
          </div>

          <div class="field">
            <p class="control">
              <label class="label" style="text-transform: capitalize;">{selected_symptom}</label>
              <textarea class="textarea" placeholder="{selected_symptom}..." bind:value="data[selected_symptom]" style="height: 15rem;"></textarea>
            </p>
          </div>

        </div>
        <div class="column">
          <p class="title is-5">Suggestions</p>

          <div class="field">
            <p class="control">
              <label class="label" style="text-transform: capitalize;">{selected_symptom} Symptoms in the System</label>
                <SearchableSelect
                  data="{searchable_withkey[selected_symptom]}"
                  placeholder="Choose..."
                  bind:value="selected_symp"
                  searchKey="name"
                  searchValue="id"
                />
              <br>

              <label class="label" style="text-transform: capitalize;">All Symptoms in the System</label>
                <!-- <SearchResult {selected_symptom} {loadSymptoms} /> -->
                <SearchableSelect
                  data="{searchable_symp}"
                  placeholder="Choose..."
                  bind:value="selected_"
                  searchKey="name"
                  searchValue="id"
                />
                <!-- <textarea class="textarea" placeholder="{selected_symptom}..." bind:value="loadSymptoms[selected_symptom]" style="height: 16rem;"></textarea> -->
            </p>
          </div>

          <div class="field">
            <p class="control">
              <label class="label">&nbsp;</label>
              <SubmitButton classes="is-primary is-pulled-right" icon="search" icon_size="small" text="Search" bind:tracker />
            </p>
          </div>
        </div>
      </div>
    </Panel>
  </form>
    <br>

      <Panel title="Cases" has_toolbar={true} >
        <div slot='toolbar'>
          <button type="button" class="button is-danger" on:click="reset()" >Reset</button>
        </div>

        <div class="columns">
          <div class="column">
            <div class="buttons">
            {#each Object.entries(data) as [key, value], i }
              <button type="button" class="button is-medium is-{ (key == selected_symptom) ? 'success' : data[key] ? '' : 'info' } " on:click="select_symptom(key)" style="text-transform: capitalize;">
                {#if data[key] }
                  <span class="icon is-small"><i class="fa fa-check"></i></span>
                {/if}
                <span>{key}</span>
              </button>
            {/each}
            </div>
          </div>

        </div>

      </Panel>

  </ViewScaffold>
</div>

<script>
  import Model from '../../../models/histories';
  import Remedies from '../../../models/remedies';

  import Router from '../../../services/router';
  import { Icon, Notification, Panel } from '@kws3/helpers';
  import { SubmitButton } from '@kws3/buttons';
  import SearchResult from './helpers/SearchResult.html';
  import SearchableSelect from '@kws3/searchable-select';

  export default {
    components: {
      ViewScaffold: '../../helpers/ViewScaffold.html',
      PageTitle: '../../helpers/PageTitle.html',
      Panel, Icon, Notification, SubmitButton, SearchResult,
      SearchableSelect
    },

    data() {
      return {
        is_loading: false,
        is_error: false,
        error_message: '',
        is_active_case_modal: false,
        selected_symptom: '',
        selected_: '',
        remedies: {},
        data: {
          face: '',
          mind: '',
          built: '',
          hair: '',
          tongue: '',
          pulse: '',
          breathing: '',
          anaemia: '',
          cyanosis: '',
          dehydration: '',
          dehydration: '',
          jaundice: '',
          skin: '',
          sensation: '',
          temperature_and_weather: '',
          thermals: '',
          susceptibility: '',
          bathing: '',
          vision: '',
          hearing: '',
          smelling: '',
          taste: '',
          thirst: '',
          appetite: '',
          hunger: '',
          desires: '',
          aversions: '',
          intolerable: '',
          ameliorable: '',
          indigestion: '',
          eructation: '',
          nausia: '',
          vomiting: '',
          sweating_perspiration: '',
          sleep: '',

          dreams: '',
          discharges: '',
          stools: '',
          urine: '',
          menstruation: '',
          leucorrhoea: '',
          habit: '',
          hobby: '',
          addicted: '',
          birth_history: '',
          milestones: '',
          mood_and_affect: '',
          speech: '',
          thought: '',
          attention_and_concentration: '',
          consciousness: '',
          appearance_and_behavior: '',
          memory: '',
          intelligency: '',
          judgement: '',
          insight: '',
          temperament: '',
          alone_and_darkness: '',
          frightness: '',
          constitution: '',
          diathesis: '',
          miasm: '',
          ailments_from: '',
          attacks_and_time: '',
          side: '',
          past_medical_history: '',
          family_medical_history: '',
          rare_peculiar_symptoms: ''
        },
        tracker: {
          saving: false,
          saved: false,
          error: false,
        },
        page: {
          title: 'Search Remedy',
          icon: 'vcard-o',
          icon_badge: 'plus'
        },
        valid:false
      }
    },
    computed: {
      user_role: ({ $user }) => $user && $user.role,
      loadSymptoms: ({remedies}) => {
        let symptoms = {}
        let _symp = []

        for(let i in remedies){
          Object.entries(remedies[i]).forEach(([key, value]) => {
          _symp[key] = []
          })
          break;
        }
        for(let item in remedies){
          let single = remedies[item];

          Object.entries(single).forEach(([key, value]) => {
            if(value){
              if(typeof value == 'string'){
                _symp[key].push(value.split(','))
              }
              symptoms[key] = (symptoms[key] ? symptoms[key] : '') + ', ' + value;
            }
          })
        }
        return _symp
      },
      searchable_withkey({loadSymptoms}){
        let final = [], total = 0;

        Object.entries(loadSymptoms).forEach(([key, value]) => {
          let one = loadSymptoms[key];
            final[key] = [];
            for(let i in one){
              if(Array.isArray(one[i])){
                for(let ind in one[i]){
                  final[key].push({ id: total++, name: one[i][ind] })
                }
              }
            }
          })
        return final
      },
      searchable_symp({loadSymptoms}){
        let final = [], total = 0;
        for(let item in loadSymptoms){
          let one = loadSymptoms[item];

            for(let i in one){
              if(Array.isArray(one[i])){
                for(let ind in one[i]){
                  final.push({ id: total++, name: one[i][ind] })
                }
              }
            }
          }
        return final
      }
    },
    oncreate(){
      this.on('close', (flag) => {
        this.set({
          is_active_case_modal: false,
        });
      });

      this.loadRemedies();
    },
    methods: {
      loadRemedies(){
        Remedies.getAll({limit:1000})
        .then( (r) => {
          // console.log(r)
          this.set({ remedies: r.response })
        })
        .catch( (r) => {
          console.log(r)
        })
      },
      reset(){
        this.set({ data: this.getDataObj() })
      },
      select_symptom(key){
        this.set({ selected_symptom: key })
      },
      search(e) {
        e.preventDefault();

        var { data, valid }  = this.get();

        this.set({
          tracker: {
            saving: true,
            saved: false,
            error: false
          }
        });

        Remedies.search(data)
        .then( (r) => {
          this.set({
            tracker: {
              saving: false,
              saved: true,
              error: false
            },
            data: r.response,
          });

          setTimeout( () => {
            this.set({ tracker: { saved: false } });
            Router.navigate('search');
          }, 1500);

        })
        .catch( (r) => {

          if (r.response.records.errorCode == '406') {
            this.set({error_message: r.response.records.userMessage});
          }else{
            this.set({error_message: 'There was an error adding remedy'});
          }
          this.set({
            tracker: {
              saving: false,
              saved: false,
              error: true
            }
          });

          setTimeout( () => {
            this.set({ tracker: { error: false } });
          }, 2000);

        });

      },
      getDataObj(){
        return {
          face: '',
          mind: '',
          built: '',
          hair: '',
          tongue: '',
          pulse: '',
          breathing: '',
          anaemia: '',
          cyanosis: '',
          dehydration: '',
          dehydration: '',
          jaundice: '',
          skin: '',
          sensation: '',
          temperature_and_weather: '',
          thermals: '',
          susceptibility: '',
          bathing: '',
          vision: '',
          hearing: '',
          smelling: '',
          taste: '',
          thirst: '',
          appetite: '',
          hunger: '',
          desires: '',
          aversions: '',
          intolerable: '',
          ameliorable: '',
          indigestion: '',
          eructation: '',
          nausia: '',
          vomiting: '',
          sweating_perspiration: '',
          sleep: '',

          dreams: '',
          discharges: '',
          stool: '',
          urine: '',
          menstruation: '',
          leucorrhoea: '',
          habit: '',
          hobby: '',
          addicted: '',
          birth_history: '',
          milestones: '',
          mood_and_affect: '',
          speech: '',
          thought: '',
          attention_and_concentration: '',
          consciousness: '',
          appearance_and_behavior: '',
          memory: '',
          intelligency: '',
          judgement: '',
          insight: '',
          temperament: '',
          alone_and_darkness: '',
          frightness: '',
          constitution: '',
          diathesis: '',
          miasm: '',
          ailments_from: '',
          attacks_and_time: '',
          side: '',
          past_medical_history: '',
          family_medical_history: '',
          rare_peculiar_symptoms: ''
        }
      }
    }
  }

</script>