
<div class="page-content">

  <PageTitle page="{page}"></PageTitle>

  <ViewScaffold {is_loading} {is_error} {error_message}>

      <DataList
      {Model}
      {View}
      {entity_name}
      {route_prefix}
      {has_additional_buttons}
      {search_placeholder}
      bind:is_loading
      bind:is_error
      bind:error_message
      bind:data
      bind:meta
      {columns}
      {searchStringTransformer}
      {valueTransformers}
      {classTransformers}
      {styleTransformers}
      {clickableRows}
      on:rowClick
      >
      <a  slot="additionalButtons" href="#history/add" class="button is-success">
        <Icon size="small" icon="plus-circle" /><span>Add Case History</span>
      </a>
      </DataList>

  </ViewScaffold>

</div>

<script>

  import Model from '../../../models/histories';
  import { Icon } from '@kws3/helpers';
  import Router from '../../../services/router';
  
  export default {
    components:{
      Icon,
      ViewScaffold: '../../helpers/ViewScaffold.html',
      DataList: '../../helpers/DataList.html',
      PageTitle: '../../helpers/PageTitle.html',

    },
    data(){
      return {
        model_set: false,
        is_loading: true,
        is_error: false,
        error_message: '',
        meta:{},
        data:[],
        Model,
        View: '_COMPONENT_',
        entity_name: 'History',
        route_prefix: 'history/',
        has_additional_buttons: true,
        clickableRows: true,
        columns:{
          'id': 'ID',
          'p_id':' Patient ID',
          'name': 'Patient Name',
          'created': 'Last Visited Date',
        },
        search_placeholder: 'Name',
        page:{
          title: 'Case Histories',
          icon: 'building-o',
          subtitle: 'Case Histories in this System'
        },
        searchStringTransformer: (q) => {
          var qparts = q.split('~'),
          query = [];

          if(qparts[0] != ''){
            query.push('name[lk]:'+qparts[0]);
          }

          qparts.shift();
          for(var i = 0; i < qparts.length; i++){
            var _q = qparts[i],
            qpp = _q.split(':');
            if(_q != '' && typeof qpp[1] != 'undefined' && qpp[1] != ''){
              query.push(qpp[0] + '[eq]:' + qpp[1]);
            }
          }

          return query.join(',');
        },
        valueTransformers:{
          p_id(v, row){
            return row.patient.id
          },
          name(v, row) {
            return row.patient.name
          },
        },
        classTransformers:{
          link(){
            return 'is-icon';
          }
        },
        styleTransformers:{},
      }
    },
    computed: {},
    oncreate(){
      this.on('rowClick', ({row}) => {
        Router.navigate(`history/view/${row.id}`);
      });
    }
  }
</script>