<div class="page-content">

  <ViewScaffold {is_loading} {is_error} {error_message}>

    {#if tracker.error}
    <Notification type="danger"> {error_message} </Notification>
    {/if}

  {#if !has_searched}
    <form on:submit="search(event)">
      <Panel title="Patient Symptoms" has_toolbar={true} >

        <div class="columns">
          <div class="column">
            <Message title="Records" color='light'>
              {#each Object.entries(data) as [key, value], i}
                {#if value && !omitted_field.includes(key)}
                <p><span class="has-text-weight-bold is-size-5">{key}</span>: {value}</p> <br>
                {/if}
              {/each}
            </Message>
          </div>

          <div class="column">
            <div class="field">
              <span class="select is-fullwidth">
                <select class="input" bind:value="selected_section" >
                  <option value="">Select Type</option>
                  {#each Object.entries(data) as [key, value], i}
                    {#if !omitted_field.includes(key)}
                      <option value="{key}">{key}</option>
                    {/if}
                  {/each}
                </select>
              </span>
            </div>

            <div class="field">
              <p class="control">
                <label class="label" style="text-transform: capitalize;">{selected_section}</label>
                <textarea class="textarea" placeholder="{selected_section}..." bind:value="data[selected_section]" style="height: 15rem;"></textarea>
              </p>
            </div>

          </div>
          <div class="column">
            <p class="title is-5">Suggestions</p>

            <div class="field">
              <p class="control">
                <label class="label" style="text-transform: capitalize;">{selected_section} Symptoms in the System</label>
                  <SearchableSelect
                    data="{searchable_withkey[selected_section]}"
                    placeholder="Choose..."
                    bind:_name="selected_keyed_symp"
                    searchKey="name"
                    searchValue="id"
                  />
              </p>
            </div>

            <div class="field">
              <p class="control">
                <label class="label" style="text-transform: capitalize;">All Symptoms in the System</label>
                  <SearchableSelect
                    data="{searchable_symp}"
                    placeholder="Choose..."
                    bind:_name="selected_all_symp"
                    searchKey="name"
                    searchValue="id"
                  />
              </p>
            </div>
            <div class="field is-grouped is-pulled-right">
              <p class="control">
                <label class="label">&nbsp;</label>
                <button type="button" on:click="save()" class="button is-primary is-medium" disabled="{disabled}" >
                  <span class="icon">
                    <i class="fa fa-save"></i>
                  </span>
                  <span>Save only</span>
                </button>
                </p>

              <p class="control">
                <label class="label">&nbsp;</label>
                <SubmitButton bind:disabled classes="is-primary is-medium is-pulled-right" icon="search" icon_size="small" text="Search" bind:tracker />
              </p>
            </div>
          </div>
        </div>
      </Panel>
    </form>
      <br>
  {/if}

  {#if has_searched}
  <RemedyFound
    bind:tracker
    bind:remedy_found
    {field_name}
    {result_symptoms}
    on:back="back()"
    on:showSymptoms
    on:saveHistory="saveHistory()"
  />
  <br>
  {/if}

  {#if !has_searched}
    <Sections
      bind:data
      bind:remedies
      bind:filterFields
      bind:selected_section
      reset_disabled="true"
    />

  {/if}


  </ViewScaffold>
</div>

<script>
  import Model from '../../../models/histories';
  import Remedies from '../../../models/remedies';

  import {Icon, Notification, Panel, Message} from '@kws3/helpers';
  import { SubmitButton, ConfirmButton } from '@kws3/buttons';

  import Router from '../../../services/router';
  import SearchableSelect from '@kws3/searchable-select';
  import SearchResult from '../search/helpers/SearchResult.html';
  import RemedyFound from '../search/helpers/RemedyFound.html';
  import Sections from '../search/helpers/Sections.html';

  export default {
    components: {
      ViewScaffold: '../../helpers/ViewScaffold.html',
      PageTitle: '../../helpers/PageTitle.html',
      Notification, Message, SearchableSelect, SubmitButton, ConfirmButton,
      Icon, Panel, SearchResult, RemedyFound, Sections

    },
    data() {
      return {
        is_loading: false,
        is_error: false,
        error_message: '',
        selected_section: '',
        selected_all_symp: '',
        selected_keyed_symp: '',
        result_symptoms: '',
        remedies: {},
        data: {},
        meta: {},
        remedy_found: {},
        omitted_field: [ 'id', 'name', 'created', 'modified', 'deleted', 'patient', 'treatments'],
        tracker: {
          saving: false,
          saved: false,
          error: false,
        },
        page: {
          title: 'View Case History',
          subtitle: 'Case History details',
          icon: 'building-o',
          icon_badge: 'pencil'
        },
      }
    },
    computed: {
      entityId: ({ $nav }) => $nav && $nav.params[0],
      disabled: ({data}) => console.log(data),
      has_searched: ({remedy_found}) => Object.keys(remedy_found).length,
      filterFields: ({remedies, omitted_field}) => {

        let last = ['built', 'constitution', 'diathesis', 'miasm', 'temperament', 'temperature_and_weather',
        'thermal_sensitivity', 'sensation', 'tendency_take_cold', 'desires', 'aversions', 'birth_history_milestones',
        'tissues', 'stages_and_states', 'attacks_and_side', 'ailments_from', 'affections', 'clinical', 'modalities',
        'mental_state_and_disorders', 'appearance_and_behavior', 'attention_and_concentration', 'expression',
        'consciousness', 'mood_and_affect', 'memory', 'speech', 'thoughts_and_ideas', 'perception', 'intelligence',
        'judgment', 'fear_and_live_alone', 'boring', 'peaceful', 'anger', 'hobby', 'habit', 'addiction', 'nutrition',
        'anaemia', 'cyanosis', 'dehydration', 'jaundice', 'pulse', 'breathing', 'peculiar_rare_symptoms'
        ];

        let filtered = [];
        if(remedies.length){
          for(let [key, value] of Object.entries(remedies[0])) {
            if( !last.includes(key) && !omitted_field.includes(key)){
              filtered.push(key)
            }
          }
          filtered.push(...last)
          return filtered
        }
      },
      loadSymptoms: ({remedies}) => {
        let symptoms = {}
        let _symp = []

        for(let i in remedies){
          Object.entries(remedies[i]).forEach(([key, value]) => {
          _symp[key] = []
          })
          break;
        }
        for(let item in remedies){
          let single = remedies[item];

          Object.entries(single).forEach(([key, value]) => {
            if(value){
              if(typeof value == 'string'){
                _symp[key].push(value.split(','))
              }
              symptoms[key] = (symptoms[key] ? symptoms[key] : '') + ', ' + value;
            }
          })
        }
        return _symp
      },
      searchable_withkey({loadSymptoms}){
        let final = [], total = 0;

        Object.entries(loadSymptoms).forEach(([key, value]) => {
          let one = loadSymptoms[key];
            final[key] = [];
            for(let i in one){
              if(Array.isArray(one[i])){
                for(let ind in one[i]){
                  final[key].push({ id: total++, name: one[i][ind] })
                }
              }
            }
          })
        return final
      },
      searchable_symp({loadSymptoms, omitted_field}){
        let final = [], total = 0;
        for(let item in loadSymptoms){
          if(!omitted_field.includes(item)){
            let one = loadSymptoms[item];

              for(let i in one){
                if(Array.isArray(one[i])){
                  for(let ind in one[i]){
                    let value = one[i][ind] + ' -> ' + item;
                    final.push({ id: total++, name: value.trim() })
                  }
                }
              }
            }
          }
        return final
      }
    },
    oncreate() {
      var { entityId } = this.get();

      this.on('state', ({ changed, current, previous }) => {
        let {data, selected_section, selected_all_symp} = this.get()

        if(current.selected_keyed_symp != previous.selected_keyed_symp){
          // got it selected symptom
          data[selected_section] =  data[selected_section] ? data[selected_section]  + ', ' + current.selected_keyed_symp : current.selected_keyed_symp;
          this.set({data})
          console.log(data)
        }

        if(current.selected_all_symp != previous.selected_all_symp){
          let section = selected_all_symp.split(' -> ');
          let field = section[1], value = section[0];

          data[field] = data[field] ? data[field]  + ', ' + value : value;
          this.set({data, selected_section: field, selected_keyed_symp: value})
        }

        if (changed['$nav']) {
          var { $nav } = current;
          if ($nav.activeView == '_COMPONENT_') {
            this.load();
          }
        }

      });

      this.load();

      this.loadRemedies();
    },
    methods: {
      load() {
        var { entityId } = this.get();

        this.set({
          is_loading: true,
          is_error: false
        });

        Model && Model.getOne(entityId)
        .then((r) => {
          this.set({
            is_loading: false,
            meta: r._meta,
            data: r.response
          });

        })
        .catch((r) => {
          var user_message = '';
          if (typeof r != 'undefined' && typeof r.response != 'undefined' && typeof r.response.records != 'undefined') {
            user_message = r.response.records.userMessage;
          }
          this.set({
            'is_error': true,
            'is_loading': false,
            'error_message': user_message
          });
        });
      },
      loadRemedies(){
        Remedies.getAll({limit:1000})
        .then( (r) => {
          this.set({ remedies: r.response })
        })
        .catch( (r) => {
          console.log(r)
        })
      },
      save() {
        var {data, entityId, tracker} = this.get();

        this.set({
          tracker: {
            saving: true,
            saved: false,
            error: false
          }
        });

        Model.save(entityId, data)
        .then(r => {
          this.set({
            data: r.response,
            tracker: {
              saving: false,
              saved: true,
              error: false
            }
          });

          setTimeout(() => {
            tracker.saved = false;
            this.set({tracker});
          }, 1500);
        })
        .catch(r => {
          console.log(r)
          this.set({error_message: 'There was an error updating history'});

          this.set({
            tracker: {
              saving: false,
              saved: false,
              error: true
            }
          });

          setTimeout(() => {
            this.set({tracker: {error: false}});
          }, 1500);
        });
      }
    }
  }
</script>