<div class="page-content">
  <PageTitle page="{page}">
    <a class="button is-info is-pulled-right" href="#history">
      <Icon icon="long-arrow-left" size="small" />
      <span>Back to All Histories</span>
    </a>
  </PageTitle>

  <ViewScaffold {is_loading} {is_error} {error_message} class="has-fullpage-tabs has-multilevel-tabs">

    <LabsTabs {tabs} bind:active_tab />

    <!-- <SlidingPaneSet style="height:{pane_height}px">
      <SlidingPane active={active_tab == 'static_view'} track_height on:heightChange> -->
        <!-- <ViewHistoryStatic bind:is_error bind:error_message /> -->
        {#if active_tab == 'static_view'}
          <ViewHistoryStatic bind:is_error bind:error_message />

        {/if}
      <!-- </SlidingPane>

      <SlidingPane active={false} track_height on:heightChange> -->
        <!-- <ViewHistoryEdit bind:is_error bind:error_message /> -->
        {#if active_tab == 'edit_view'}
          <ViewHistoryEdit bind:is_error bind:error_message />

        {/if}
      <!-- </SlidingPane>
    </SlidingPaneSet> -->

  </ViewScaffold>
</div>

<script>
  import {Icon, Notification, Panel} from '@kws3/helpers';
  import { SubmitButton, ConfirmButton } from '@kws3/buttons';
  import {SlidingPaneSet, SlidingPane} from '@kws3/sliding-panes';
  import LabsTabs from '../helpers/Tabs.html';
  import ViewHistoryStatic from './ViewHistoryStatic.html';
  import ViewHistoryEdit from './ViewHistoryEdit.html';

  export default {
    components: {
      ViewScaffold: '../../helpers/ViewScaffold.html',
      PageTitle: '../../helpers/PageTitle.html',
      Notification, SubmitButton, ConfirmButton,
      Icon, Panel, LabsTabs,
      ViewHistoryStatic, ViewHistoryEdit,
      SlidingPaneSet, SlidingPane,
    },
    data() {
      return {
        is_loading: false,
        is_error: false,
        error_message: '',
        pane_height: 500,
        data: {},
        meta: {},
        tracker: {
          saving: false,
          saved: false,
          error: false,
        },
        page: {
          title: 'View Case History',
          subtitle: 'Case History details',
          icon: 'building-o',
          icon_badge: 'pencil'
        },
        active_tab: 'static_view',
        tabs: [
          {icon: 'info-circle', name: 'static_view', title: 'Static'},
          {icon: 'pencil', name: 'edit_view', title: 'Edit Case History'},
        ],
      }
    },
    computed: {
      entityId: ({ $nav }) => $nav && $nav.params[0],
    },
    oncreate() {
      this.on('heightChange', ({height}) => {
        this.set({pane_height: height})
      });

      var { entityId } = this.get();

      this.on('state', ({ changed, current, previous }) => {
        console.log(current)
      });

    },
    methods: {
    }
  }
</script>