<div class="page-content">
  <!-- <PageTitle page="{page}">
    <a class="button is-info is-pulled-right" href="#history">
      <Icon icon="long-arrow-left" size="small" />
      <span>Back to All Histories</span>
    </a>
  </PageTitle> -->

  <ViewScaffold {is_loading} {is_error} {error_message}>


  <Panel title="Patient symptoms" has_toolbar={true} >
    <div slot='toolbar'>
      <ConfirmButton
        text="Delete History"
        color="danger"
        icon="trash"
        icon_only="{false}"
        on:do="deleteHistory(event)"
      />
    </div>

    <div class="columns">
      <div class="column is-5">
        {#if data.patient}
          <Message title="Records" color='info'>
            <p class="title is-5">Patient Details</p>

            <PatientDetails data={data.patient} />
          </Message>
        {/if}
      </div>
      <div class="column is-7">
        <Message title="Records" color='info'>
          {#each Object.entries(data) as [key, value], i}
            {#if value && !omitted_field.includes(key)}
            <p class="is-size-5"><span class="has-text-weight-bold is-size-4">{key}</span>: {value}</p> <br>
            {/if}
          {/each}
        </Message>
      </div>
    </div>
  </Panel>

  </ViewScaffold>
</div>

<script>
  import Model from '../../../models/histories';
  import Remedies from '../../../models/remedies';

  import {Icon, Panel, Message} from '@kws3/helpers';
  import { SubmitButton, ConfirmButton } from '@kws3/buttons';

  import Router from '../../../services/router';
  import SearchResult from '../search/helpers/SearchResult.html';
  import RemedyFound from '../search/helpers/RemedyFound.html';
  import PatientDetails from '../helpers/PatientDetails.html';

  export default {
    components: {
      ViewScaffold: '../../helpers/ViewScaffold.html',
      PageTitle: '../../helpers/PageTitle.html',
      Message, SubmitButton, ConfirmButton,
      Icon, Panel, SearchResult, RemedyFound, PatientDetails

    },
    data() {
      return {
        is_loading: false,
        is_error: false,
        error_message: '',
        selected_symptom: '',
        selected_symp: '',
        selected_keyed_symp: '',
        result_symptoms: '',
        remedies: {},
        data: {},
        meta: {},
        remedy_found: {},
        omitted_field: [ 'id', 'name', 'created', 'modified', 'deleted', 'patient', 'treatments'],
        tracker: {
          saving: false,
          saved: false,
          error: false,
        },
        page: {
          title: 'View Case History',
          subtitle: 'Case History details',
          icon: 'building-o',
          icon_badge: 'pencil'
        },
      }
    },
    computed: {
      entityId: ({ $nav }) => $nav && $nav.params[0],
      filterFields: ({remedies, omitted_field}) => {

        let last = ['built', 'constitution', 'diathesis', 'miasm', 'temperament', 'temperature_and_weather',
        'thermal_sensitivity', 'sensation', 'tendency_take_cold', 'desires', 'aversions', 'birth_history_milestones',
        'tissues', 'stages_and_states', 'attacks_and_side', 'ailments_from', 'affections', 'clinical', 'modalities',
        'mental_state_and_disorders', 'appearance_and_behavior', 'attention_and_concentration', 'expression',
        'consciousness', 'mood_and_affect', 'memory', 'speech', 'thoughts_and_ideas', 'perception', 'intelligence',
        'judgment', 'fear_and_live_alone', 'boring', 'peaceful', 'anger', 'hobby', 'habit', 'addiction', 'nutrition',
        'anaemia', 'cyanosis', 'dehydration', 'jaundice', 'pulse', 'breathing', 'peculiar_rare_symptoms'
        ];

        let filtered = [];
        if(remedies.length){
          for(let [key, value] of Object.entries(remedies[0])) {
            if( !last.includes(key) && !omitted_field.includes(key)){
              filtered.push(key)
            }
          }
          filtered.push(...last)
          return filtered
        }
      },
      loadSymptoms: ({remedies}) => {
        let symptoms = {}
        let _symp = []

        for(let i in remedies){
          Object.entries(remedies[i]).forEach(([key, value]) => {
          _symp[key] = []
          })
          break;
        }
        for(let item in remedies){
          let single = remedies[item];

          Object.entries(single).forEach(([key, value]) => {
            if(value){
              if(typeof value == 'string'){
                _symp[key].push(value.split(','))
              }
              symptoms[key] = (symptoms[key] ? symptoms[key] : '') + ', ' + value;
            }
          })
        }
        return _symp
      },
    },
    oncreate() {
      var { entityId } = this.get();

      this.load();
    },
    methods: {

      load() {
        var { entityId } = this.get();

        this.set({
          is_loading: true,
          is_error: false
        });

        Model && Model.getOne(entityId)
        .then((r) => {
          console.log(r)
          this.set({
            is_loading: false,
            meta: r._meta,
            data: r.response
          });

        })
        .catch((r) => {
          var user_message = '';
          if (typeof r != 'undefined' && typeof r.response != 'undefined' && typeof r.response.records != 'undefined') {
            user_message = r.response.records.userMessage;
          }
          this.set({
            'is_error': true,
            'is_loading': false,
            'error_message': user_message
          });
        });
      },
      loadRemedies(){
        Remedies.getAll({limit:1000})
        .then( (r) => {
          this.set({ remedies: r.response })
        })
        .catch( (r) => {
          console.log(r)
        })
      },
      deleteHistory(comp){

        comp && comp.doing();

        Model.delete(this.get().entityId)
        .then( (r) => {
          comp.done();
          Router.navigate('history');
        })
        .catch( () => {
          comp.error();
        });


      },
      save() {
        var {data, entityId, tracker} = this.get();

        this.set({
          tracker: {
            saving: true,
            saved: false,
            error: false
          }
        });

        Model.save(entityId, data)
        .then(r => {
          this.set({
            data: r.response,
            tracker: {
              saving: false,
              saved: true,
              error: false
            }
          });

          setTimeout(() => {
            tracker.saved = false;
            this.set({tracker});
          }, 1500);
        })
        .catch(r => {
          console.log(r)
          this.set({error_message: 'There was an error updating premise'});

          this.set({
            tracker: {
              saving: false,
              saved: false,
              error: true
            }
          });

          setTimeout(() => {
            this.set({tracker: {error: false}});
          }, 1500);
        });
      }
    }
  }
</script>