<div class="page-content">
  <PageTitle page="{page}">
    <a class="button is-info is-pulled-right" href="#history">
      <Icon icon="long-arrow-left" size="small" />
      <span>Back to All Histories</span>
    </a>
  </PageTitle>

  <ViewScaffold {is_loading} {is_error} {error_message} class="has-fullpage-tabs has-multilevel-tabs">

    <LabsTabs {tabs} bind:active_tab />

    <!-- <SlidingPaneSet style="height:{pane_height}px">
      <SlidingPane active={active_tab == 'static_view'} track_height on:heightChange> -->
        <!-- <ViewHistoryStatic bind:is_error bind:error_message /> -->
        {#if active_tab == 'static_view'}
          <ViewHistoryStatic bind:is_error bind:error_message />

        {/if}
      <!-- </SlidingPane>

      <SlidingPane active={false} track_height on:heightChange> -->
        <!-- <ViewHistoryEdit bind:is_error bind:error_message /> -->
        {#if active_tab == 'edit_view'}
          <!-- <ViewHistoryEdit bind:is_error bind:error_message /> -->
          <Search edit_case={true} bind:data bind:tracker on:save="save()" on:saveTreatment />

        {/if}
      <!-- </SlidingPane>
    </SlidingPaneSet> -->

  </ViewScaffold>
</div>

<script>
  import Model from '../../../models/histories';
  import TreatmentModel from '../../../models/treatments';
  import {Icon, Notification, Panel} from '@kws3/helpers';
  import { SubmitButton, ConfirmButton } from '@kws3/buttons';
  import {SlidingPaneSet, SlidingPane} from '@kws3/sliding-panes';
  import LabsTabs from '../helpers/Tabs.html';
  import ViewHistoryStatic from './ViewHistoryStatic.html';
  import ViewHistoryEdit from './ViewHistoryEdit.html';
  import Search from '../search/Search.html';

  export default {
    components: {
      ViewScaffold: '../../helpers/ViewScaffold.html',
      PageTitle: '../../helpers/PageTitle.html',
      Notification, SubmitButton, ConfirmButton,
      Icon, Panel, LabsTabs,
      ViewHistoryStatic, ViewHistoryEdit,
      SlidingPaneSet, SlidingPane, Search,
    },
    data() {
      return {
        is_loading: false,
        is_error: false,
        error_message: '',
        pane_height: 500,
        data: {},
        meta: {},
        tracker: {
          saving: false,
          saved: false,
          error: false,
        },
        page: {
          title: 'View Case History',
          subtitle: 'Case History details',
          icon: 'building-o',
          icon_badge: 'pencil'
        },
        active_tab: 'static_view',
        tabs: [
          {icon: 'info-circle', name: 'static_view', title: 'Static'},
          {icon: 'pencil', name: 'edit_view', title: 'Edit Case History'},
        ],
      }
    },
    computed: {
      entityId: ({ $nav }) => $nav && $nav.params[0],
    },
    oncreate() {
      this.on('heightChange', ({height}) => {
        this.set({pane_height: height})
      });
      this.on('saveTreatment', (treatment) => {
        this.saveTreatment(treatment);
      });

      this.on('state', ({ changed, current, previous }) => {
        // console.log(current)
      });

      this.load();

    },
    methods: {
      load() {
        var { entityId } = this.get();

        this.set({
          is_loading: true,
          is_error: false
        });

        Model && Model.getOne(entityId)
        .then((r) => {
          this.set({
            is_loading: false,
            meta: r._meta,
            data: r.response
          });

        })
        .catch((r) => {
          var user_message = '';
          if (typeof r != 'undefined' && typeof r.response != 'undefined' && typeof r.response.records != 'undefined') {
            user_message = r.response.records.userMessage;
          }
          this.set({
            'is_error': true,
            'is_loading': false,
            'error_message': user_message
          });
        });
      },
      save() {
        var {data, entityId, tracker} = this.get();

        this.set({
          tracker: {
            saving: true,
            saved: false,
            error: false
          }
        });

        Model.save(entityId, data)
        .then(r => {
          this.set({
            data: r.response,
            tracker: {
              saving: false,
              saved: true,
              error: false
            }
          });

          setTimeout(() => {
            tracker.saved = false;
            this.set({tracker});
          }, 1500);
        })
        .catch(r => {
          console.log(r)
          this.set({error_message: 'There was an error updating history'});

          this.set({
            tracker: {
              saving: false,
              saved: false,
              error: true
            }
          });

          setTimeout(() => {
            this.set({tracker: {error: false}});
          }, 1500);
        });
      },
      saveTreatment(treatments) {
      let {data, entityId} = this.get();

        let structured = {
          prescribe: {
            id: entityId,
            patient: data.patient.id
          },
          data: treatments
        };

        this.set({
          tracker: {
            saving: true,
            saved: false,
            error: false
          }
        });

        TreatmentModel && TreatmentModel.createWithCase(structured)
        .then( (r) => {
          this.set({
            tracker: {
              saving: false,
              saved: true,
              error: false
            }
          });

          setTimeout( () => {
            this.set({ tracker: { saved: false } });
            this.load();
          }, 1500);

        })
        .catch( (r) => {
          console.log(r)
        })
      },
    }
  }
</script>