<div class="page-content">

  <ViewScaffold {is_loading} {is_error} {error_message}>

  <Panel title="Patient symptoms" has_toolbar={true} >
    <div slot='toolbar'>
      <ConfirmButton
        text="Delete History"
        color="danger"
        icon="trash"
        icon_only="{false}"
        on:do="deleteHistory(event)"
      />
    </div>

    <div class="columns">
      <div class="column is-5">
        {#if data.patient}
          <Message color='info'>
            <p class="title is-5">Patient Details</p>
            <PatientDetails data={data.patient} />
          </Message>
        {/if}

        {#if data.treatments}
          <Message color='info'>
            <Timeline bind:data is_static="true" />
          </Message>
        {/if}
      </div>
      <div class="column is-7">
        <Message title="Records" color='info'>
          {#each Object.entries(data) as [key, value], i}
            {#if value && !omitted_field.includes(key)}
            <p class="is-size-5"><span class="has-text-weight-bold is-size-4">{key}</span>: {value}</p> <br>
            {/if}
          {/each}
        </Message>
      </div>
    </div>
  </Panel>

  </ViewScaffold>
</div>

<script>
  import Model from '../../../models/histories';
  import {Icon, Panel, Message} from '@kws3/helpers';
  import { ConfirmButton } from '@kws3/buttons';
  import Router from '../../../services/router';
  import PatientDetails from '../helpers/PatientDetails.html';
  import Timeline from '../helpers/Timeline.html';

  export default {
    components: {
      ViewScaffold: '../../helpers/ViewScaffold.html',
      PageTitle: '../../helpers/PageTitle.html',
      Message, ConfirmButton, Timeline,
      Icon, Panel, PatientDetails

    },
    data() {
      return {
        is_loading: false,
        is_error: false,
        error_message: '',
        data: {},
        meta: {},
        omitted_field: [ 'id', 'name', 'created', 'modified', 'deleted', 'patient', 'treatments'],
        tracker: {
          saving: false,
          saved: false,
          error: false,
        },
        page: {
          title: 'View Case History',
          subtitle: 'Case History details',
          icon: 'building-o',
          icon_badge: 'pencil'
        },
      }
    },
    computed: {
      entityId: ({ $nav }) => $nav && $nav.params[0],
    },
    oncreate() {
      var { entityId } = this.get();
      this.load();
    },
    methods: {
      load() {
        var { entityId } = this.get();

        this.set({
          is_loading: true,
          is_error: false
        });

        Model && Model.getOne(entityId)
        .then((r) => {
          console.log(r)
          this.set({
            is_loading: false,
            meta: r._meta,
            data: r.response
          });

        })
        .catch((r) => {
          var user_message = '';
          if (typeof r != 'undefined' && typeof r.response != 'undefined' && typeof r.response.records != 'undefined') {
            user_message = r.response.records.userMessage;
          }
          this.set({
            'is_error': true,
            'is_loading': false,
            'error_message': user_message
          });
        });
      },
      deleteHistory(comp){

        comp && comp.doing();
        Model.delete(this.get().entityId)
        .then( (r) => {
          comp.done();
          Router.navigate('history');
        })
        .catch( () => {
          comp.error();
        });


      },

    }
  }
</script>