<Modal bind:is_active size="medium" {title} on:close="close()" >
  <Message color="light" >
    <Panel title="Drug Details">
      <div class="columns">
        <div class="column">
          <div class="field">
            <p class="control">
              <label class="label">Name</label>
              <input class="input" type="text" required bind:value="data.name" />
            </p>
          </div>

          <div class="field">
            <p class="control">
              <label class="label">Batch Number</label>
              <input class="input" type="text" bind:value="data.batch_number" />
            </p>
          </div>

          <div class="field">
            <p class="control">
              <label class="label">Expiry Date</label>
              <!-- <Datepicker opts={{animate: false}} bind:value="data.expiry_date" /> -->

            </p>
          </div>

        </div>

        <div class="column">
          <div class="field">
            <p class="control">
              <label class="label">Drug Instillation Time</label>
              <input class="input" type="text" bind:value="data.instillation_time" autocomplete="off" />
            </p>
          </div>
          <div class="field">
            <p class="control">
              <label class="label">IOP Pre Instillation Time</label>
              <input class="input" type="email" bind:value="data.iop_pre_inst_time" />
            </p>
          </div>
          <div class="field">
            <p class="control">
              <label class="label">IOP Post Instillation Time</label>
              <input class="input" type="text" bind:value="data.iop_post_inst_time" autocomplete="off" />
            </p>
          </div>
          <div class="field">
            <p class="control">
              <label class="label">&nbsp;</label>
              <SubmitButton classes="is-primary is-pulled-right" icon="plus" icon_size="small" text="Add Drug" bind:tracker />
            </p>
          </div>
        </div>
      </div>
    </Panel>
  </Message>
</Modal>


<script>
  import {Message, Icon, Panel, Modal} from '@kws3/helpers';
  import {SubmitButton, ConfirmButton} from '@kws3/buttons';

  export default {
    components: {
      Message, Icon, Panel, Modal,
      SubmitButton, ConfirmButton
    },
    data() {
      return {
        data: {
          name: '',
          batch_number: '',
          expiry_date: '',
          instillation_time: '',
          iop_pre_inst_time: '',
          iop_post_inst_time: ''
        },
        tracker: {
          saving: false,
          saved: false,
          error: false,
        },
        is_active: false,
        title: 'Drug Info'
      }
    },
    methods:{
      close(flag){
        flag = flag || false;
        this.fire('close', flag);
      }
    }
  }
</script>

