<form on:submit="patient(event)">
  <Panel title="Patient" has_toolbar={true} collapsible collapsed="{data.patient}">
    <div slot='toolbar'>
      <div class="field">
        {#if data.patient}
        <button type="button" on:click="fire('changePatient')" class="button is-text " >
          <span class="icon is-small">
             <i class="fa fa-pencil"></i>
         </span> 
         <span>Change patient</span>
        </button>
        
        <span class="tag is-success">Patient Added</span>
        {:else}
        <div class="control">
          <label class="radio">
            <input type="radio" bind:group="patient.patient_type" value="old"> OLD
          </label>
          <label class="radio">
            <input type="radio" bind:group="patient.patient_type" value="new"> NEW
          </label>
          <label class="radio">
            <input type="radio" bind:group="patient.patient_type" value="none"> NONE
          </label>
        </div>
        {/if}
      </div>
    </div>

    {#if patient.patient_type == 'old'}
    <!-- <div class="columns">
      <div class="column">
        <div class="field has-addons has-addons-centered">
          <p class="control is-expanded">
            <input class="input" type="text" bind:value="patient.name" placeholder="Name..." />
          </p>

          <p class="control is-expanded">
            <input class="input" type="text" bind:value="patient.phone" placeholder="Phone..." />
          </p>

          <p class="control">
            <button type="button" class="button is-primary">
              <span class="icon"><i class="fa fa-search"></i></span>
              <span>Search</span>
            </button>
          </p>
        </div>
      </div>
    </div> -->
    {#if !data.patient}
      <Panel>
        <PatientSearch bind:active_pane bind:meta bind:p_data size="medium">
          <h1 slot="title" class="subtitle is-4">Patient Search</h1>
        </PatientSearch>
        <br>
        
        <PatientSearchResults {active_pane} bind:data="p_data" {meta} on:rowClick on:customerCreate />

      </Panel>
    {:else}

     <PatientDetails data={data.patient} />
     
      
    {/if}
    {:elseif patient.patient_type == 'new'}
    <div class="columns">
      <div class="column">
        <div class="field">
          <p class="control">
            <label class="label">Name</label>
            <input class="input" type="text" required bind:value="patient.name" />
          </p>
        </div>
        <div class="field">
          <p class="control">
            <label class="label">Phone</label>
            <input class="input" type="text" bind:value="patient.phone" />
          </p>
        </div>
        <div class="field">
          <div class="control">
            <label class="label">Gender</label>
            <label class="radio">
              <input type="radio" bind:group="patient.gender" value="m"> Male
            </label>
            <label class="radio">
              <input type="radio" bind:group="patient.gender" value="f"> Female
            </label>
          </div>
        </div>
      </div>

      <div class="column">
        <div class="field">
          <p class="control">
            <label class="label">Age</label>
            <input class="input" type="number" required bind:value="patient.age" autocomplete="off" />
          </p>
        </div>
        <div class="field">
          <p class="control">
            <label class="label">Address</label>
            <input class="input" type="text" bind:value="patient.address" autocomplete="off" />
          </p>
        </div>
        <div class="field">
          <p class="control">
            <label class="label">&nbsp;</label>
            <span class="is-size-6 has-text-warning">This patient will be saved after saving the case history !</span>
            <SubmitButton classes="is-primary is-pulled-right" icon="plus" icon_size="small" text="Add Patient" disabled="{data.patient}" bind:tracker />
          </p>
        </div>
      </div>
    </div>
    {/if}

  </Panel>
</form>

<script>
  import { Panel } from '@kws3/helpers';
  import { SubmitButton } from '@kws3/buttons';
  import PatientSearch from '../../helpers/PatientSearch.html';
  import PatientSearchResults from '../../helpers/PatientSearchResults.html';
  import PatientDetails from '../../helpers/PatientDetails.html';
  
  export default {
    components: {
      Panel, SubmitButton, PatientSearch, PatientSearchResults , PatientDetails
    },
    data(){
      return {
        patient: {},
        data: {},
        meta: {},
      }
    },
    methods: {
      patient(e){
        e.preventDefault();
        let {patient} = this.get();
        this.fire('addPatient', patient);

      }
    },
    oncreate(){
      this.on('rowClick', ({row}) => {
        this.fire('addPatient', row);

      });
      
      this.on('changePatient', () => {
        this.set({
          patient: {
            name: '',
            age: '',
            phone: '',
            address: '',
            patient_type: 'none'
          },
          data:{
            patient: ''
          }
        })
      })
    }

  }
</script>