<form on:submit="saveHistory(event)">
  <Panel title="Matches Remedy" has_toolbar={true} >
    <div slot='toolbar'>
      <button type="button" class="button is-info" on:click="fire('back')" >
        <span class="icon is-small"><i class="fa fa-arrow-left"></i></span>
        <span>Back to Search</span>
      </button>
    </div>

    <div class="columns">
      <div class="column">
        <div class="buttons">
        {#each Object.entries(remedy_found) as [key, value], i }

          <button type="button" class="button is-medium is-light" on:click="fire('showSymptoms', value)" style="text-transform: capitalize;">
            <span>{key} </span>
            <span class="tag is-danger is-medium"> {value.mark} </span>
          </button>
        {/each}
        </div>

        <div class="columns is-multiline">
          {#each Object.entries(result_matched_fields) as [key, value], i }
            <div class="column is-4">
              <!-- <Transition transition="{true}" type="fly" x="{-30}" delay={50*i}> -->
                <label class="label title is-size-4">{key}</label>
                {#each value as item}
                  <p class="is-size-5" style="line-height: 1.2rem;"> {@html matched_color(item.matched, item.query)}. </p>
                  <hr class="is-small">
                {/each}
              <!-- </Transition> -->
            </div>
          {/each}
        </div>

        <div class="field">
          <p class="control">
            <label class="label"> &nbsp; </label>
            <SubmitButton bind:disabled classes="is-primary is-pulled-right" icon="save" icon_size="small" text="Save History" bind:tracker />
          </p>
        </div>
      </div>

    </div>
  </Panel>
</form>

<script>

  import { Panel } from '@kws3/helpers';
  import { SubmitButton } from '@kws3/buttons';

  export default {
    components: {
      Panel, SubmitButton
    },
    helpers: {
      matched_color(original, query){
        return original && original.replace(query, '<span class="has-text-info">'+ query + '</span>')
      }
    },
    data(){
      return{
        remedy_found: {},
        field_name: '',
        result_matched_fields: [],
        tracker: {}
      }
    },
    computed: {
      disabled: ({data}) => !data.patient,
    },
    methods: {
      saveHistory(e){
        e.preventDefault();
        this.fire('saveHistory');

      }
    }
  }
</script>