<form on:submit="saveHistory(event)">
  <Panel title="Matches Remedy" has_toolbar={true} >
    <div slot='toolbar'>
      {#if remedy_id}
        <a class="button is-text " href="#remedies/singleview/{remedy_id}" target="_blank">
          <span class="icon is-small"><i class="fa fa-eye"></i></span>
        <span>View selected Remedy</span>
        </a>
      {/if}
      <button type="button" class="button is-info" on:click="fire('back')" >
        <span class="icon is-small"><i class="fa fa-arrow-left"></i></span>
        <span>Back to Search</span>
      </button>
    </div>

    <div class="columns">
      <div class="column">
        <div class="columns is-multiline">
          {#each Object.entries(remedy_found) as [key, value], i }
            <div class="column is-4" style="border-radius: 4px; background-color: {remedy_id == value.id ? '#E6E6FA' : ''};">
              <p class="is-size-5" style="line-height: 1.2rem; cursor: pointer;" on:click="showSymptoms(value)" > {value.name}
                <span class="tag is-{i == 0 ? 'link' : 'success'} is-medium is-pulled-right">{value.mark}</span>
              </p>
            </div>
        {/each}
        </div>
        <hr >
        <div class="columns is-multiline">
          {#each Object.entries(result_matched_fields) as [key, value], i }
            <div class="column is-4">
              <Transition transition="{true}" type="fly" x="{30}" delay={50*10}>
                <label class="label title is-size-4">{key}</label>
                {#each value as item}
                  <p class="is-size-5" style="line-height: 1.2rem;"> {@html matched_color(item.matched, item.query)}. </p>
                  <hr class="is-small">
                {/each}
              </Transition>
            </div>
          {/each}
        </div>

        <div class="field">
          <p class="control">
            <label class="label"> &nbsp; </label>
            <SubmitButton bind:disabled classes="is-primary is-pulled-right" icon="save" icon_size="small" text="Save History" bind:tracker />
          </p>
        </div>
      </div>

    </div>
  </Panel>
</form>

<script>

  import { Panel } from '@kws3/helpers';
  import { SubmitButton } from '@kws3/buttons';
  import Transition from '@kws3/transitions';

  export default {
    components: {
      Panel, SubmitButton, Transition
    },
    helpers: {
      matched_color(original, query){
        return original && original.replace(query, '<span class="has-text-info">'+ query + '</span>')
      }
    },
    data(){
      return{
        remedy_id: null,
        remedy_found: {},
        field_name: '',
        result_matched_fields: [],
        tracker: {}
      }
    },
    computed: {
      disabled: ({data}) => !data.patient,
      remedy_found: ({remedy_found}) => {
        let sortable = remedy_found.sort((a, b) => (a.mark < b.mark) ? 1 : -1)
        return sortable.slice(0, 10);
      }
    },
    methods: {
      showSymptoms(value){
        if(value){
          this.set({ remedy_id: value.id});
          this.fire('showSymptoms', value);
        }
      },
      saveHistory(e){
        e.preventDefault();
        this.fire('saveHistory');

      }
    }
  }
</script>