<Panel title="Sections" has_toolbar={true} >
  <div slot='toolbar'>
    <ConfirmButton
        text="Reset"
        color="danger"
        size=""
        icon="refresh"
        icon_only="{false}"
        disabled="{false}"
        on:do="fire('reset', event)"
      />
  </div>

  <div class="columns">
    <div class="column">
      {#if remedies.length}
      <div class="columns">
        <div class="column">
          <label class="label">With Number</label>
          <div class="field">
            <span class="select is-fullwidth">
              <select class="input" bind:value="selected_section" >
                <option value="">Select Type</option>
                {#each filterFields as key, index }
                    <option value="{key}">{index+1} - {key}</option>
                {/each}
              </select>
            </span>
          </div>

        </div>
        <div class="column">
          <label class="label">Without Number</label>
          <div class="field">
            <span class="select is-fullwidth">
              <select class="input" bind:value="selected_section" >
                <option value="">Select Type</option>
                {#each filterFields as key, index }
                    <option value="{key}">{key}</option>
                {/each}
              </select>
            </span>
          </div>
        </div>
      </div>

      <div class="columns">
        <div class="column">
          <div class="buttons">
            {#each filterFields as key }
                <button type="button" class="button is-medium is-{ (key == selected_section) ? 'success' : data[key] ? '' : 'info' } " on:click="set({ selected_section: key })" style="text-transform: capitalize; margin-left: .6rem; margin-bottom: .6rem;">
                  {#if data[key] }
                    <span class="icon is-small"><i class="fa fa-check"></i></span>
                  {/if}
                  <span>{key}</span>
                </button>
            {/each}
            </div>

        </div>
      </div>
      {/if}
    </div>

  </div>

</Panel>

<script>
  import { Icon, Notification, Panel, Message } from '@kws3/helpers';
  import { SubmitButton, ConfirmButton } from '@kws3/buttons';


  export default {
    components: {
      Panel, ConfirmButton
    },
    data(){
      return {
        remedies: [],
        filterFields: [],
        data: {},
        selected_section: ''

      }
    }
  }
</script>