<form on:submit="saveTreatment(event)">
  <Panel title="{prescribe ? ' ' : 'Select Remedy'}" has_toolbar={true} >
    <div slot='toolbar'>
      {#if prescribe}
      <span class="">
        <button class="button is-primary" type="button" on:click="set({add_remedy: false, selected_remedies: []})">Cancel</button>
      </span>
      {/if}
      <button type="button" class="button is-warning" on:click="reset()" >
        <span class="icon is-small"><i class="fa fa-refresh"></i></span>
        Reset
      </button>
    </div>
    
    <div class="columns">
      <div class="column">
        <div class="control">
          <label class="radio">
            <input type="radio" name="" bind:group="remedy_type" value="suggested">
            Suggested remedy
          </label>
          <label class="radio">
            <input type="radio" name="" bind:group="remedy_type" value="all">
            All remedy
          </label>
        </div>
      </div>  
    </div>
    
    <div class="columns">
      <!-- <div class="column">
        <div class="field is-grouped">
          <div class="select is-fullwidth {treatment.remedy == '' && !selected_remedies.length ? 'is-danger': ''}">
            {#if remedy_type == 'suggested'}
              <select bind:value="treatment.remedy">
                <option value="">Select...</option>          
                {#each Object.entries(remedy_found) as [key, value], i }
                  <option value="{key}">{key}</option>
                {/each}
              </select>
            {/if}
            {#if remedy_type == 'all'}
              <select bind:value="treatment.remedy">
                <option value="">Select...</option>          
                {#each remedy_names as key, i }
                  <option value="{key}">{key}</option>
                {/each}
              </select>
            {/if}
          </div>
          <div class="select is-fullwidth">
            <select bind:value="treatment.power">
              {#each powers as power}
              <option value="{power}">{power}</option>
              {/each}
            </select>
          </div>
          <div class="select is-fullwidth">
            <select bind:value="treatment.taking_rule">
              {#each rules as rule}
              <option value="{rule}">{rule}</option>
              {/each}
            </select>
          </div>
          <div class="field is-fullwidth">
            <button class="button is-info" type="button" on:click="addRemedy()" disabled={disable_add}>Add</button>
          </div>
        </div>
      </div> -->
      <div class="column">

        <div class="field">
          <div class="control">
            <label class="label">Remedy name</label>
            <div class="select is-fullwidth {treatment.remedy == '' && !selected_remedies.length ? 'is-danger': ''}">
              {#if remedy_type == 'suggested'}
                <select bind:value="treatment.remedy">
                  <option value="">Select...</option>          
                  {#each Object.entries(remedy_found) as [key, value], i }
                    <option value="{key}">{key}</option>
                  {/each}
                </select>
              {/if}
              {#if remedy_type == 'all'}
                <select bind:value="treatment.remedy">
                  <option value="">Select...</option>          
                  {#each remedy_names as key, i }
                    <option value="{key}">{key}</option>
                  {/each}
                </select>
              {/if}
            </div>
          </div>
        </div>

        <div class="field">
          <div class="control">
            <label class="label">Type</label>
            <div class="select is-fullwidth">
              <select bind:value="treatment.type">
                {#each types as rule}
                <option value="{rule}">{rule}</option>
                {/each}
              </select>
            </div>
          </div>
        </div>
      </div>
      <div class="column">
        
        <div class="field">
          <div class="control">
            <label class="label">Power</label>
            <div class="select is-fullwidth">
              <select bind:value="treatment.power">
                {#each powers as power}
                <option value="{power}">{power}</option>
                {/each}
              </select>
            </div>
          </div>
        </div>
        <div class="field">
          <div class="control">
            <label class="label">Taking rule</label>
            <div class="select is-fullwidth">
              <select bind:value="treatment.taking_rule">
                {#each rules as rule}
                <option value="{rule}">{rule}</option>
                {/each}
              </select>
            </div>  
          </div>
        </div>
      </div>
      <div class="column">
        <div class="field">
          <div class="control">
            <label class="label">Quantity</label>
            <div class="select is-fullwidth">
              <select bind:value="treatment.quantity">
                {#each quantities as quantity}
                <option value="{quantity}">{quantity}</option>
                {/each}
              </select>
            </div>
          </div>
        </div>
        <div class="field">
          <div class="control">
            <label class="label">&nbsp;</label>
              <button class="button is-info is-pulled-right" type="button" on:click="addRemedy()" disabled={disable_add}>Add</button>
          </div>
        </div>
      </div>
    </div>
    
    <div class="columns">
      <div class="column">
        <table class="table has-background-warning-light">
          <tr>
            <th>Remedy name</th>
            <th>Power</th>
            <th>Taking Rule</th>
            <th>Quantity</th>
            <th>Type</th>
            <th></th>
          </tr>
          {#each selected_remedies as {remedy, power, taking_rule, quantity, type}, i}
            <tr>
              <td>{remedy}</td>
              <td>{power}</td>
              <td>{taking_rule}</td>
              <td>{quantity}</td>
              <td>{type}</td>
              <td></td>
              <td>
                <span class="icon has-text-danger is-pulled-right" style="cursor:pointer" data-tooltip="Remove" on:click="deleteItem(i)"><i class="fa fa-trash"></i></span>
              </td>
            </tr>
          {/each}
        </table>
      </div>
    </div>
      
      
    <div class="field">
      <p class="control">
        
        <label class="subtitle is-size-6 has-text-grey" style="line-height: 2rem;"> By saving treatment, whole case will be saved </label>
        
        <!-- <ConfirmButton
        text="Save Treatment"
        color="primary"
        classes="is-pulled-right"
        icon="save"
        icon_only="{false}"
        bind:disabled
        on:do="saveTreatment(e)"
      /> -->
    
        <SubmitButton bind:disabled classes="is-primary is-pulled-right" icon="save" icon_size="small" text="Save Treatment" bind:tracker />
      </p>
    </div>
      
  </Panel>
</form>

<script>

  import { Panel } from '@kws3/helpers';
  import { SubmitButton, ConfirmButton } from '@kws3/buttons';

  export default {
    components: {
      Panel, SubmitButton, ConfirmButton
    },
    data(){
      return{
        remedy_found: {},
        powers: ['1x', '3x', 6, 30, 200, '1m', '10m', '50m', 'cm'],
        quantities: ['1d', '2d', 'half ounce', '1 ounce', '4 ounce'],
        types: ['liquid', 'pill', 'biochemic', 'mother tencture'],
        rules: [
          '10-2',
          '10-3',
          '5-2'
        ],
        remedy_type: 'suggested',
        prescribe: false,
        treatment: {
          remedy: '',
          power: 200,
          taking_rule: '10-2',
          type: 'Liquid',
          quantity: '1d'
        },
        selected_remedies: [],
        remedy_names: [],
        result_symptoms: '',
        tracker: {}
      }
    },
    computed: {
      disabled: ({data, selected_remedies}) => !data.patient || selected_remedies.length == 0,
      disable_add: ({treatment}) => !treatment.remedy,
    },
    oncreate(){
      let {prescribe} = this.get();
      if(prescribe){
        this.set({remedy_type: 'all'})
      }
    },
    methods: {
      saveTreatment(e){
        e.preventDefault();
        let {selected_remedies} = this.get();
        this.fire('saveTreatment', selected_remedies);

      },
      addRemedy(){
        let {selected_remedies, treatment} = this.get();
        
        if(treatment.remedy){
          selected_remedies.push(Object.assign({}, treatment));
          this.set({selected_remedies})        
        }
      },
      reset(){
        this.set({selected_remedies: [] })
      },
      deleteItem(i) {
        let { selected_remedies } = this.get();
        selected_remedies.splice(i,1)
        this.set({selected_remedies});
      },
    }
  }
</script>